@import "constants/colors";
@import "constants/mixins";

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 0.75em 1em;
  margin: 0.5rem;
  cursor: pointer;
  @include transition();
  @include drop-shadow();
}

.inner {
  @include flex(row, true, true);
  gap: 0.3em;
}

.icon {
  line-height: 0;
  font-size: 1.5em;
}

.accent {
  background: $c-accent;

  &:hover {
    background: $c-accent-light;
  }
}
.blue {
  background: $c-blue;

  &:hover {
    background: $c-blue-light;
  }
}
.orange {
  background: $c-orange;

  &:hover {
    background: $c-orange-light;
  }
}
.green {
  background: $c-green;

  &:hover {
    background: $c-green-light;
  }
}

.hollow {
  color: $c-text-light;
  background: none;
  box-shadow: inset 0px 0px 0px 1px $c-accent;

  &:hover {
    color: white;
    background: $c-accent-light;
    box-shadow: inset 0px 0px 0px 1px $c-accent-light;
  }
}

.hollowFaded {
  color: $c-text-light;
  background: none;
  box-shadow: inset 0px 0px 0px 1px rgba($c-text-light, 0.3);

  &:hover {
    color: white;
    background: $c-accent-light;
    box-shadow: inset 0px 0px 0px 1px $c-accent-light;
  }
}
