@import "constants/colors";
@import "constants/variables";

.header {
  background: $c-background-dark;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  height: $v-header-height;
  width: 100%;
  z-index: 20;

  .logo {
    font-size: 2rem;
    font-weight: 700;

    .logo_image {
      display: inline-block;
      padding: 10px;
    }
  }
}
