@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.optionsWrapper {
  @include absolute_cover;
  top: 4rem;
  z-index: 1; // For some reason author credit tries to pop above this
  background: rgba($c-background-dark, 0.95);
  padding: 1rem;
  overflow-y: auto;
  @include dark_scrollbar();
  @include transition;
  visibility: visible;
}
.optionsHidden {
  transform: translateX(100%);
  visibility: hidden;
}

.optionRow {
  @include flex(row, true, false);
  width: 100%;
  margin: 1em 0;

  p {
    margin: 0.2em;
    flex-grow: 1;
  }

  .format {
    @include flex(row, true, true);
    font-size: 0.85em;
    font-weight: bold;
    padding: 0.3em 0.5em;
    min-width: 1.8em;
    text-align: center;
    border: 1px solid rgba($c-accent, 0.5);
    border-right: none;
    color: $c-text-light;
    text-transform: uppercase;
    cursor: pointer;
    @include transition;

    &:last-of-type {
      border-right: 1px solid rgba($c-accent, 0.5);
    }

    &:hover {
      color: white;
      background: $c-accent;
      border-color: $c-accent;
    }

    svg {
      flex-shrink: 0;
      height: 1.3em;
      margin-left: -0.2em;
      padding-right: 0.2em;
    }
  }

  .viewBtn {
    @include center;
    border: 1px solid rgba($c-accent, 0.5);
    padding: 0.3em;
    margin-right: 0.1em;
    cursor: pointer;
    border-radius: 50%;
    @include transition;

    &:hover {
      color: white;
      background: $c-accent;
      border-color: $c-accent;
    }
  }
}

.wideOptionRow {
  .format {
    text-transform: none;
    width: 100%;
    font-size: 0.9em;

    svg {
      padding-right: 0.5em;
      height: 1.3em;
      margin-left: 0;
    }
  }
}

.masonry {
  display: flex;
  margin-left: -0.5rem; /* gutter size offset */
  width: auto;
}
.masonryColumn {
  padding-left: 0.5rem; /* gutter size */
  background-clip: padding-box;
}

.thumbnail {
  position: relative;
  margin-bottom: 0.5rem;

  img {
    max-width: 100%;
    display: block;
    cursor: pointer;
  }

  .buttonWrapper {
    opacity: 0;
    visibility: hidden;
    @include flex(row, true);
    gap: 0.3rem;
    margin: 0.3rem;
    position: absolute;
    bottom: 0;
    right: 0;
    @include transition;

    .button {
      line-height: 0;
      font-size: 1.3em;
      padding: 0.3rem;
      background: $c-accent;
      color: white;
      cursor: pointer;

      &:hover {
        background: $c-accent-light;

        .downloadMenu {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .downloadMenu {
      opacity: 0;
      visibility: hidden;
      @include flex(column, true);
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 3;
      padding-bottom: 1em;
      @include transition;

      .download {
        font-size: 1rem;
        line-height: 1rem;
        width: calc(100% - 1em);
        text-align: right;
        background: $c-background-dark;
        padding: 0.5em 0.5em;
        border: 1px solid rgba($c-accent, 0.5);
        border-bottom: none;
        color: $c-text-light;
        white-space: nowrap;
        @include transition;

        &:last-of-type {
          border-bottom: 1px solid rgba($c-accent, 0.5);
        }

        &:hover {
          color: white;
          background: $c-accent;
          border-color: $c-accent;
        }
      }
    }
  }

  &:hover {
    .buttonWrapper {
      opacity: 1;
      visibility: visible;
    }
  }
}
