@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.optionsWrapper {
  @include absolute_cover;
  top: 4rem;
  z-index: 1; // For some reason author credit tries to pop above this
  background: $c-background-dark;
  padding: 1rem;
  overflow-y: auto;
  @include dark_scrollbar();
  @include transition;
  visibility: visible;
}
.optionsHidden {
  transform: translateX(100%);
  visibility: hidden;
}
