@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.downloadBtnWrapper {
  @include flex(row);
}
.downloadBtn {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  background: $c-accent;
  height: 3rem;
  min-width: 3rem;
  color: white;
  border-right: 1px solid $c-accent-light;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 0.85em;
  cursor: pointer;
  user-select: none;
  @include transition();

  .error {
    text-align: center;
    padding: 0 0.5em;
    em {
      font-weight: normal;
      font-size: 0.8em;
    }
  }

  svg {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.2em;
  }

  h3 {
    margin: 0;
    font-size: 1em;
  }
  p {
    margin: 0;
    font-size: 0.8em;
    font-weight: normal;
    text-transform: uppercase;
  }

  &:hover {
    background: $c-accent-light;
  }

  &:last-child {
    border: none;
  }
}
.downloadBtnSml {
  @extend .downloadBtn;
  flex-grow: 0;
  text-align: center;

  .resIcon {
    text-transform: uppercase;
    line-height: 1em;
    margin-top: 0.5em;

    svg {
      margin-top: -0.5em;
      margin-right: 0;
    }
  }
}

.resBtnCtrl {
  @include flex(column, true, true);
  width: 100%;
  height: 100%;
}

.busyDownloading {
  @include absolute_cover;
  @include flex(row, true, true);
  background: $c-accent;
  opacity: 0;
  visibility: hidden;
  @include transition;
}
.show {
  opacity: 1;
  visibility: visible;
}
.disabled {
  cursor: not-allowed;
}
