@import "constants/colors";
@import "constants/mixins";

.gridItem {
  flex: 0 1 auto;
  min-width: 188px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: $c-text-light;
  // box-shadow: 0 0 0 2px rgba(red, 0.2); // DEBUG
  @include transition();

  &:hover {
    filter: brightness(1.1);

    .text {
      opacity: 1;
      transform: none;
      filter: none;
    }

    .badge {
      filter: brightness(0.9);
      width: 2.6rem;
      height: 2.6rem;
      font-size: 0.95em;
      color: white;
      @include text-shadow-fine;
      @include transition;

      svg {
        width: 0;
        opacity: 0;
      }
    }
    .soon {
      width: 3rem;
      height: 3rem;
      font-size: 0.8em;
    }

    .indicators {
      opacity: 1;
    }

    .authorInner {
      top: 2em;
      opacity: 1;
    }
  }
}

.blur {
  .thumb {
    filter: blur(4px) saturate(0);
    @include transition;
  }

  &:hover {
    .thumb {
      filter: none;
    }
  }
}

.skelly {
  background: rgba($c-background-light, 0.5);
  min-height: 280px;
}

.thumb {
  position: relative;
  min-height: 140px;
  @include center;

  img {
    display: block;
    width: 100%;
  }
}

.turnaround {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 2rem);
  overflow: hidden;
  // box-shadow: 0 0 0 2px rgba(green, 0.2); // DEBUG

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
  }
}

.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: radial-gradient(rgba($c-background, 0.1), transparent);
  transform: scaleY(0.05);
  filter: blur(10px);
  @include transition(0.1s);

  h3 {
    color: white;
    padding-bottom: 0.2em;
    margin: 0;
    text-shadow: 1px 1px 1px rgb(0, 0, 0), 1px 1px 3px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
  }
  p {
    text-shadow: 1px 1px 1px rgb(0, 0, 0), 1px 1px 3px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    margin: 0;
    line-height: 1;
    font-size: 1em;
  }
}
.showText {
  .text {
    opacity: 1;
    transform: none;
    filter: none;
  }

  .authorInner {
    top: 2em !important;
    opacity: 1 !important;
  }
}

.badge {
  @include flex(row, true, true);
  $v-margin: 1.5rem;
  $v-size: 1.5rem;
  position: absolute;
  right: $v-margin;
  top: $v-margin;
  width: $v-size;
  height: $v-size;
  border-radius: 50%;
  background: $c-green;
  color: rgba($c-green, 0);
  font-size: 0.5em;
  @include drop-shadow;
  @include transition;

  svg {
    width: 1rem;
    opacity: 1;
    @include transition;
  }
}
.new {
  background: $c-green;
  color: rgba($c-green, 0);
}
.soon {
  background: $c-blue;
  color: rgba($c-blue, 0);
  font-size: 0;
  line-height: 1em;
  text-align: center;
}
.badgeSample {
  @extend .badge;
  position: relative;
  right: 0;
  top: 0;
}

.indicators {
  @include flex(row, true, true);
  gap: 0.25rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.25rem;
  color: white;
  opacity: 0.5;
  @include transition;

  .indicator {
    font-size: 1.5em;
    line-height: 0;
  }
}

.author {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
  padding: 0;
  font-size: 0.9em;

  .authorInner {
    @include flex(row, true);
    gap: 0.7rem;
    @include transition;
    opacity: 0;
    position: relative;
    top: 0;
  }
}

.small {
  font-size: 0.5em;
}
