@import "constants/colors";
@import "constants/mixins";

.gridItem {
  flex: 0 1 auto;
  min-width: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: $c-text-light;
  @include transition();

  &:hover {
    filter: brightness(1.1);

    .text {
      opacity: 1;
      transform: none;
      filter: none;
    }

    .badge {
      filter: brightness(0.9);
      width: 2.6rem;
      height: 2.6rem;
      font-size: 0.95em;
      color: white;
      @include text-shadow-fine;
      @include transition;

      svg {
        width: 0;
        opacity: 0;
      }
    }
    .soon {
      width: 3rem;
      height: 3rem;
      font-size: 0.8em;
    }
  }
}

.skelly {
  background: rgba($c-background-light, 0.5);
  min-height: 280px;
}

.thumb {
  position: relative;
  min-height: 140px;
  @include center;

  img {
    display: block;
    width: 100%;
  }
}

.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: radial-gradient(rgba($c-background, 0.1), transparent);
  transform: scaleY(0.05);
  filter: blur(10px);
  @include transition(0.1s);

  h3 {
    color: white;
    padding-bottom: 0.2em;
    margin: 0;
    text-shadow: 1px 1px 1px rgb(0, 0, 0), 1px 1px 3px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
  }
  p {
    text-shadow: 1px 1px 1px rgb(0, 0, 0), 1px 1px 3px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    margin: 0;
    line-height: 1;
    font-size: 1em;
  }
}

.badge {
  @include flex(row, true, true);
  $v-margin: 1.5rem;
  $v-size: 1.5rem;
  position: absolute;
  right: $v-margin;
  top: $v-margin;
  width: $v-size;
  height: $v-size;
  border-radius: 50%;
  background: $c-green;
  color: rgba($c-green, 0);
  font-size: 0.5em;
  @include drop-shadow;
  @include transition;

  svg {
    width: 1rem;
    opacity: 1;
    @include transition;
  }
}
.new {
  background: $c-green;
  color: rgba($c-green, 0);
}
.soon {
  background: $c-blue;
  color: rgba($c-blue, 0);
  font-size: 0;
  line-height: 1em;
  text-align: center;
}
