@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.wrapper {
  @include flex(column, true, true);
  background: $c-background-lightish;
  border: 1px solid $c-background-light;

  a {
    position: relative;

    .flag {
      position: absolute;
      top: 0px;
      left: 0px;
      width: auto;
      pointer-events: none;
      z-index: 11;
    }

    .flagAnim {
      animation: flagSpawn 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transform-origin: 33% 33%;
    }

    .explosion {
      position: absolute;
      top: 0;
      left: 0;
      rotate: 133deg;
      image-rendering: pixelated;
      image-rendering: crisp-edges;
      z-index: 10;
    }
  }
}

.topText,
.bottomText {
  padding: 0.5rem;
  width: calc(100% - 1rem);
  text-align: center;
}

.topText {
  @include flex(row, true, true);

  img {
    height: 1.5em;
    padding-right: 0.3em;
  }

  .pause {
    color: $c-text-light;
    font-size: 1.2em;
    cursor: pointer;
    opacity: 0.5;
    @include transition;

    &:hover {
      opacity: 1;
    }
  }
}

.bottomText {
  background: $c-accent;
  color: $c-text-bright;
  @include transition;

  &:hover {
    background: $c-accent-light;
  }
}

.img {
  @include center;
  max-width: 384px;

  img {
    width: 100%;
  }
}

.spacer {
  flex-grow: 1;
}

@keyframes flagSpawn {
  0% {
    top: 100vh;
    left: 100vw;
    transform: rotate(0deg) scale(0.3);
    opacity: 0;
  }
  100% {
    top: 0px;
    left: 0px;
    transform: rotate(1080deg) scale(1);
    opacity: 1;
  }
}
