@mixin transition($duration: 0.15s) {
  transition: all $duration ease;
}

@mixin drop-shadow($opacity: 0.2) {
  box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, $opacity);
  @include transition(0.15s);
}
@mixin text-shadow($opacity: 0.55) {
  text-shadow: 0 0 4px rgba(0, 0, 0, $opacity);
}
@mixin text-shadow-fine($opacity: 0.15) {
  text-shadow: 1px 1px 0 rgba(black, $opacity);
}

@mixin scale($s) {
  transform: scale($s);
}

@mixin dark_scrollbar() {
  scrollbar-width: thin;
  scrollbar-color: $c-background-light $c-background-dark;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $c-background-dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-background-light;
    border-radius: 8px;
  }
}

@mixin flex($direction, $align: false, $justify: false) {
  display: flex;
  flex-direction: $direction;

  @if $align {
    align-items: center;
  }
  @if $justify {
    justify-content: center;
  }
}
