@mixin transition($duration: 0.15s) {
  transition: all $duration ease;
}

@mixin drop-shadow($opacity: 0.2) {
  box-shadow: 2px 2px 9px -2px rgba(0, 0, 0, $opacity);
  @include transition(0.15s);
}
@mixin text-shadow($opacity: 0.55) {
  text-shadow: 0 0 4px rgba(0, 0, 0, $opacity);
}
@mixin text-shadow-fine($opacity: 0.15) {
  text-shadow: 1px 1px 0 rgba(black, $opacity);
}

@mixin visibility-hide($duration: 0.15s) {
  visibility: hidden;
  opacity: 0;
  @include transition($duration);
}
@mixin visibility-show($duration: 0.15s) {
  visibility: visible;
  opacity: 1;
  @include transition($duration);
}

@mixin rounded() {
  border-radius: 0.3rem;
}

@mixin scale($s) {
  transform: scale($s);
}

@mixin dark_scrollbar() {
  scrollbar-width: thin;
  scrollbar-color: $c-background-light $c-background-dark;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $c-background-dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-background-light;
    border-radius: 8px;
  }
}

@mixin immersive_scrollbar() {
  scrollbar-color: $c-background-lighterer $c-background-light;

  &::-webkit-scrollbar {
    width: 17px;
  }

  &::-webkit-scrollbar-track {
    background-color: $c-background-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-background-lighterer;
    border-radius: 8px;
    border-top: 2px solid rgba(black, 0.5);
    border-bottom: 2px solid rgba(black, 0.5);
  }
}

@mixin flex($direction, $align: false, $justify: false) {
  display: flex;
  flex-direction: $direction;

  @if $align {
    align-items: center;
  }
  @if $justify {
    justify-content: center;
  }
}

@mixin center {
  display: grid;
  place-items: center;
}

@mixin absolute_cover() {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@mixin red_link {
  a {
    color: $c-red;
    text-decoration: none;

    &:hover {
      color: $c-red-light;
    }
  }
}

@mixin white_link {
  a {
    color: inherit;
    box-shadow: 0 1px 0 rgba($c-text-light, 0.6);
    text-decoration: none;

    &:hover {
      color: $c-text-bright;
      box-shadow: 0 3px 0 $c-text-light;
    }
  }
}
