@import "constants/colors";
@import "constants/mixins";

#sidebar {
  background: $c-background-dark;
  width: 210px;
  text-transform: capitalize;

  .sidebarInner {
    overflow: auto;
    overflow-x: hidden;
    flex-grow: 100;
    @include dark_scrollbar;
  }
}

.cat {
  display: block;
  text-decoration: none;
  color: $c-text-light;
  padding: 0.3em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;

  .caret {
    position: relative;
    font-size: 140%;
    vertical-align: middle;
  }
  .smallCaret {
    @extend .caret;
    font-size: 90%;
  }

  .num {
    display: inline-block;
    line-height: 22px;
    width: 22px;
    height: 22px;
    margin-left: 0.5em;
    margin-top: -1px;
    vertical-align: top;
    text-align: center;
    font-size: 70%;
    font-weight: 700;
    border: 1px solid rgba($c-text-light, 0.1);
    border-radius: 50%;
    background-color: rgba(white, 0.05);
    color: $c-text-light;
    opacity: 0.9;
  }

  &:hover {
    background: $c-accent;

    .num {
      background-color: rgba(white, 0.15);
    }
  }
}

.subCat {
  margin-left: 5px;
  padding-left: 15px;
  border-bottom-left-radius: 20px;
  box-shadow: inset 2px -2px 0px 0px rgba($c-accent, 0.2);
  background: rgba($c-text-light, 0.02);
}

.catSemiActive {
  background: rgba($c-accent, 0.5);
  // color: white;
}
.catActive {
  background: $c-accent;
  color: white;

  .num {
    background-color: rgba(white, 0.15);
  }
}