@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

#sidebar {
  position: fixed;
  top: $v-header-height;
  height: calc(100% - #{$v-header-height});
  width: 210px;
  background: $c-background-dark;
  text-transform: capitalize;
  overflow: auto;
  overflow-x: hidden;
  flex-grow: 100;
  @include dark_scrollbar;
}
.sidebarInner {
  padding-bottom: 3em;
}

.typeSelector {
  display: flex;
  flex-direction: row;

  .type {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: $c-text-light;
    filter: saturate(0);
    @include transition();

    img {
      width: 1.5rem;
      display: block;
      margin: auto;
      background: $c-background;
      padding: 0.5rem;
      border-radius: 50%;
      box-shadow: inset 0px 0px 0px 1px rgba(white, 0.05);
    }

    &:hover {
      img {
        background: $c-background-lighter;
        box-shadow: inset 0px 0px 0px 2px rgba($c-accent, 0.5);
      }
    }
  }

  .activeType {
    filter: saturate(1);

    img {
      background: $c-background-lighter;
      box-shadow: inset 0px 0px 0px 2px rgba($c-accent, 0.9);
    }
  }
}

.cat {
  display: block;
  text-decoration: none;
  color: $c-text-light;
  padding: 0.3em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  @include transition();

  .caret {
    position: relative;
    font-size: 140%;
    vertical-align: middle;
  }
  .smallCaret {
    @extend .caret;
    font-size: 90%;
  }

  .num {
    display: inline-block;
    line-height: 2em;
    width: 2em;
    height: 2em;
    margin-left: 0.5em;
    margin-top: -1px;
    vertical-align: middle;
    text-align: center;
    font-size: 70%;
    font-weight: 700;
    border: 1px solid rgba($c-text-light, 0.1);
    border-radius: 50%;
    background-color: rgba(white, 0.05);
    color: $c-text-light;
    opacity: 0.9;
    @include transition();
  }

  &:hover {
    background: $c-accent;

    .num {
      background-color: rgba(white, 0.15);
    }
  }
}

.subCat {
  margin-left: 6px;
  padding-left: 8px;
  border-bottom-left-radius: 7px;
  font-size: 93%;
  box-shadow: inset 2px -2px 0px 0px rgba($c-accent, 0.2);
  background: rgba($c-text-light, 0.02);
}

.catSemiActive {
  background: rgba($c-accent, 0.5);
  // color: white;
}
.catActive {
  background: $c-accent;
  color: white;

  .num {
    background-color: rgba(white, 0.15);
  }
}
