@import "constants/colors";

#sidebar {
  background: $c-background-dark;
  width: 210px;
  text-transform: capitalize;
}

.cat {
  padding: 0.3em;
  cursor: pointer;

  .num {
    display: inline-block;
    line-height: 22px;
    width: 22px;
    height: 22px;
    margin-left: 0.5em;
    margin-top: -1px;
    vertical-align: top;
    text-align: center;
    font-size: 70%;
    font-weight: 700;
    border: 1px solid rgba($c-text-light, 0.1);
    border-radius: 50%;
    background-color: rgba(white, 0.05);
    color: $c-text-light;
    opacity: 0.9;
  }

  &:hover {
    background: $c-accent;

    .num {
      background-color: rgba(white, 0.15);
    }
  }
}
.catActive {
  background: $c-accent;
  // box-shadow: 0px -1px 0px 0px rgba($c-background, 0.2);

  .num {
    background-color: rgba(white, 0.15);
  }
}
.subCat {
  padding-left: 15px;
  box-shadow: inset 2px -2px 0px 0px rgba($c-accent, 0.2);
  background: rgba($c-text-light, 0.02);
}