@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  display: flex;
  flex-direction: row;
}

.sidebar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 336px;
  background: $c-background-dark;
  overflow-y: auto;
  height: calc(100vh - #{$v-header-height});
  @include dark_scrollbar();

  .info {
    flex-grow: 1;
  }
}
