@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  display: flex;
  flex-direction: row;
}

.previewWrapper {
  @include flex(column, true, true);
  background: $c-background-dark;
  padding: 0.25rem;
  min-height: 600px;

  .carousel {
    width: 120px;
    flex-shrink: 0;
    @include flex(column, true, true);
  }

  .activePreview {
    flex-grow: 1;
    @include flex(row, true, true);

    img {
      max-width: 100%;
    }
  }
}

.sidebar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 336px;
  background: $c-background-dark;
  overflow-y: auto;
  height: calc(100vh - #{$v-header-height});

  .info {
    flex-grow: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @include dark_scrollbar();

    h1 {
      font-size: 1.5rem;
      margin: 0.2em 1em;
      text-align: center;
    }

    .authors {
      @include flex(row, true, true);
      text-align: center;
    }
  }

  .downloadBtn {
    background: $c-accent;
    margin: 1rem;
    padding: 0.75rem;
    font-size: 1.3em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    @include transition();

    svg {
      width: 1.5em;
      height: 1.5em;
      padding-right: 0.2em;
    }

    &:hover {
      background: $c-accent-light;
    }
  }
}
