@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  display: flex;
  flex-direction: row;
}

.previewWrapper {
  @include flex(column, true, true);
  background: $c-background-dark;
  padding: 0.25rem;
  min-height: 600px;

  .carousel {
    width: 120px;
    flex-shrink: 0;
    @include flex(column, true, true);
  }

  .activePreview {
    flex-grow: 1;
    @include flex(row, true, true);

    img {
      max-width: 100%;
    }
  }
}

.sidebar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 336px;
  background: $c-background-dark;
  overflow-y: auto;
  height: calc(100vh - #{$v-header-height});

  .info {
    flex-grow: 1;
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    @include dark_scrollbar();

    h1 {
      font-size: 1.5rem;
      margin: 0.2em 1em;
      text-align: center;
    }

    .authors {
      @include flex(row, true, true);
      text-align: center;
    }

    .infoItem {
      padding: 0.2rem 0;
      margin: 0;
    }

    .tagsList {
      display: inline;

      a {
        box-shadow: none;
      }
    }

    .tag {
      display: inline-block;
      padding: 0.2em 0.4em;
      margin: 0.1em;
      border-radius: 0.3em;
      border: 1px solid rgba($c-accent, 0.5);
      font-size: 0.75em;
      color: $c-text-light;
      @include transition();

      &:hover {
        background: $c-accent;
        color: white;
      }
    }
  }

  .downloadBtn {
    background: $c-accent;
    margin: 1rem;
    padding: 0.75rem;
    font-size: 1.3em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    @include transition();

    svg {
      width: 1.5em;
      height: 1.5em;
      padding-right: 0.2em;
    }

    &:hover {
      background: $c-accent-light;
    }
  }
}

.spacer {
  flex-grow: 1;
}
