@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  display: flex;
  flex-direction: row;
}

.mobileHeader {
  text-align: center;
  display: none;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .mobileHeader {
    display: block;
  }
}

.previewWrapper {
  @include flex(row, true, true);
  background: $c-background;

  .activePreview {
    flex-grow: 1;
    @include flex(row, true, true);
    padding: 0 0.25rem;
    width: 100%;
    position: relative;

    @media screen and (max-width: 1830px) {
      aspect-ratio: 2/1;
    }

    @media screen and (max-width: 1200px) {
      height: auto;
    }

    &GLTF {
      width: 100%;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .previewAd {
    max-width: calc(160px + 2em);

    & > * {
      margin-left: 1em !important;
      margin-right: 1em !important;
    }

    & > :first-child {
      margin-top: 1em !important;
    }

    & > :last-child {
      margin-bottom: 1em !important;
    }
  }

  @media screen and (max-width: 1200px) {
    max-height: 720px;
  }
}

.carousel {
  width: 100%;
  flex-shrink: 0;
  @include flex(column, true, true);
  background: $c-background-dark;
}

.sidebar {
  position: fixed;
  right: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: $v-asset-sidebar-width;
  max-width: calc(100% - 4em);
  background: $c-background-dark;
  overflow-y: auto;
  height: calc(100vh - #{$v-header-height});
  box-shadow: 0 0 3px 0 $c-background-darkest;

  .info {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    @include dark_scrollbar();

    .infoItems {
      @include flex(column);
      flex-grow: 1;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 1rem;
      padding-top: 0;
      @include dark_scrollbar();
    }

    h1 {
      font-size: 1.5rem;
      margin: 0.2em 1em;
      text-align: center;
    }

    .authors {
      flex-grow: 1;
      @include flex(column, true, true);
      text-align: center;
      a {
        box-shadow: none;
      }
    }

    .infoText {
      font-size: 0.85em;
      border: 1px solid rgba($c-text-light, 0.3);
      border-left: none;
      border-right: none;
      margin: 0 -1rem 1em;
      padding: 0 1rem;
      hyphens: auto;

      p {
        margin: 0.5em 0;
        text-align: justify;
      }
    }

    .infoItem {
      padding: 0.2rem 0;
      margin: 0;
    }
    .flex {
      @include flex(row, true, false);
      gap: 0.25em;
    }

    .infoBlocks {
      @include flex(row, true, true);
      flex-wrap: wrap;
    }
    .infoBlock {
      @include flex(column, true, true);
      margin: 0.5rem;
      margin-top: 0;

      strong {
        font-size: 1.1em;
        opacity: 0.9;
        line-height: 1;
      }

      p {
        margin: 0;
        font-size: 0.8em;
      }
    }
    a.infoBlock {
      color: $c-text-light;
      box-shadow: 0 1px 0 rgba($c-text-light, 0.3);
      @include transition();

      &:hover {
        color: $c-accent;
        box-shadow: 0 3px 0 $c-accent;
      }
    }

    .tagsListWrapper {
      flex-grow: 1;
      overflow: hidden;
    }
    .tagsList {
      display: inline;
      overflow: hidden;
      white-space: nowrap;

      a {
        box-shadow: none;
      }
    }
    .wrap {
      display: inline;
      overflow: auto;
      white-space: initial;
    }

    .tag {
      display: inline-block;
      padding: 0.2em 0.4em;
      margin: 0.1em;
      border-radius: 0.3em;
      border: 1px solid rgba($c-accent, 0.5);
      font-size: 0.75em;
      color: $c-text-light;
      white-space: nowrap;
      cursor: pointer;
      @include transition();

      &:hover {
        background: $c-accent;
        color: white;
      }

      svg {
        display: block;
      }
    }
    .expand {
      @extend .tag;
      margin-left: -1em;
      background-color: $c-background-dark;
      box-shadow: 0 0 20px 13px $c-background-dark;
      cursor: pointer;
    }
  }
}

.sidebarToggle {
  display: none;
  position: fixed;
  top: calc(0.5em + #{$v-header-height});
  right: 0.5em;
  z-index: 11;

  @media screen and (max-width: 672px) {
    display: grid;
  }
}
.sidebarToggleClose {
  right: min(calc(100% - 0.5em - 3em), calc(#{$v-asset-sidebar-width} + 0.5em));
}

.hiddenMobile {
  @media screen and (max-width: 672px) {
    display: none;
  }
}

.sidebarAd {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.afterDownload {
  $bg: color-mix(in srgb, rgba($c-background-dark, 0.5), $c-red 10%);
  position: fixed;
  right: $v-asset-sidebar-width;
  overflow-x: hidden;
  overflow-y: auto;
  @include dark_scrollbar();
  padding: 0 1.5em 0.5em;
  width: $v-asset-sidebar-width;
  font-size: 0.9em;
  background: $bg;
  backdrop-filter: blur(20px);
  @include drop-shadow(0.3);
  @include transition(1s);

  .prompt {
    padding: 0 1em;
    margin-top: 1.5em;
    text-wrap: balance;

    .promptHeader {
      @include flex(row, true);
      gap: 0.4em;
      margin: 0.5em 0;

      em {
        display: block;
        font-size: 2em;
        font-style: normal;
      }
      h3,
      strong {
        display: flex;
        font-size: 1.4em;
        line-height: 1.2em;
        margin: 0;
      }
    }
    p {
      margin: 0;
      line-height: 1.25em;
      margin-bottom: 1.5em;
    }
  }

  .close {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    font-size: 1.5em;
    padding: 0.1em;
    cursor: pointer;
    color: $c-text-light;
    @include transition();

    &:hover {
      transform: rotate(90deg);
    }
  }
}
.collapseAfterDownload {
  right: -3em;
}

.sponsor {
  @include flex(column, true, true);
  text-align: center;

  h4 {
    font-size: 0.9rem;
    font-weight: normal;
    margin: 0;

    &:first-of-type {
      margin-bottom: 0.5em;
    }
    &:last-of-type {
      margin-top: 0.5em;
    }

    a {
      box-shadow: none;
      color: $c-text-light;

      &:hover {
        color: $c-accent-light;
      }
    }
  }
  p {
    font-size: 1.1em;
    margin: 0;
    font-weight: bold;
  }

  .corpSponsor {
    max-width: min(192px, 100%);
    max-height: 66px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .addSponsor {
    @include flex(row, true, true);
    gap: 0.4em;
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.2em 0.4em;
    margin: 0.75em;
    border-radius: 0.3em;
    border: 1px solid rgba($c-accent, 0.5);
    color: $c-text-light;
    cursor: pointer;
    @include transition();

    &:hover {
      background: $c-accent;
      color: white;
    }

    svg {
      font-size: 1.5em;
      flex-shrink: 0;
    }

    em {
      font-weight: normal;
      opacity: 0.7;
    }
  }
}

.similar {
  @include flex(column, true);
  padding: 1em;

  h2 {
    flex-shrink: 0;
    margin-bottom: 0;
  }
}

.userRenders {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
  }
}
.userRendersTitle {
  @include flex(row, true, true);
  flex-wrap: wrap;
  gap: 1em;
  color: $c-text-light;
}

.sketchfabWrapper {
  @include absolute_cover;

  .sketchfabFrame {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.heart {
  color: $c-red;
  border-bottom: 1px solid $c-red;

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}

.spacer {
  flex-grow: 1;
}

.loading {
  @include absolute_cover;
  @include flex(row, true, true);
  background: rgba($c-background, 0.7);
  opacity: 1;
  z-index: 20;
  @include transition;
  transition-delay: 0.2s;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
