@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.author {
  @include flex(row, true, true);
  padding: 0.5em;

  .avatar {
    display: flex;
    padding-right: 0.3rem;
    position: relative;

    &:hover {
      .regularDonor {
        filter: drop-shadow(-3px -1px 3px rgba(black, 0.3));
        animation: pulse 0.5s infinite;
      }
    }
  }

  .regularDonor {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 0;
    @include transition(0.25s);
  }

  .name {
    @include flex(column, true, true);
    line-height: 1em;

    a strong {
      color: $c-text-light;
      @include transition;

      &:hover {
        color: $c-accent;
      }
    }

    .credit {
      font-size: 0.8em;
      font-style: italic;
      opacity: 0.6;
    }
  }

  .links {
    @include flex(row, true, true);
    padding-right: 0.3em;
    position: relative;

    a,
    .a {
      padding: 0.1em;
      padding-bottom: 0;
      display: flex;
      @include transition();

      &:hover {
        color: white;
      }
    }

    .a {
      cursor: pointer;
      color: $c-accent;
    }

    svg {
      width: calc(50px / 3);
      height: calc(50px / 3);
    }

    .popup {
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 8em;
      pointer-events: none;
      padding: 0.6em 1em;
      color: $c-text-light;
      background: $c-background-darker;
      opacity: 0.9;
      border: 1px solid rgba($c-accent, 0.8);
      @include transition;
    }
  }
}

.hide {
  display: none;
  opacity: 0;
  @include transition;
}
