@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  text-align: center;

  .header {
    @include flex(row, true, true);
    margin: 2em 1em;

    h1 {
      font-size: 2.5em;

      svg {
        position: relative;
        display: inline-block;
        width: 1em;
        margin-right: 0.3em;
        vertical-align: baseline;
      }
    }

    p {
      text-align: left;
      line-height: 1.5em;
      border-left: 1px solid rgba($c-text-light, 0.5);
      padding-left: 2em;
      margin-left: 2em;
    }
  }
}

.vaultsList {
  @include flex(column);
  gap: 2em;
  background: $c-background-dark;
}

.vaultWrapper {
  .vault {
    @include flex(row, true);
    position: relative;
    min-height: 60vh;
    padding: 1.5em 3em;
    color: $c-text-bright;
    background: url(https://cdn.polyhaven.com/site_images/home/nama_col.png?width=1920) no-repeat center center;
    background-size: cover;

    & > * {
      position: relative; // Ensure gradient appears behind elements
    }

    .gradientL {
      @include absolute_cover;
      background: linear-gradient(195deg, transparent 50%, $c-background-darker 100%);
      opacity: 0.7;
    }

    .gradientR {
      @include absolute_cover;
      background: linear-gradient(165deg, transparent 65%, $c-background-darker 100%);
      opacity: 0.6;
    }

    .left {
      margin-top: auto;
      text-align: left;
      flex-grow: 1;
    }

    h2 {
      font-size: 2.5em;
      margin-bottom: 0;
      text-shadow: 1px 1px 2px black;
    }

    p {
      font-size: 1.33em;
      text-shadow: 1px 1px 2px black;
    }

    .right {
      margin-top: auto;

      .barWrapper {
        width: calc(100% - 1rem);
        margin: 0.5rem;

        .barOuter {
          position: relative;
          border-radius: 3em;
          padding: 2px;
          border: 2px solid $c-accent;
          background-color: $c-background;

          .barInner {
            position: relative;
            height: 24px;
            background: $c-accent;
            border-radius: 3em;
            min-width: 24px;
            overflow: hidden;
            width: 0%;
            @include transition();
          }

          .barShine {
            width: 100%;
            height: 32px;
            overflow: hidden;
            position: absolute;
            top: 0;
            opacity: 0.4;
            animation: slide 3s infinite;
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 1) 50%,
              rgba(128, 186, 232, 0) 99%,
              rgba(125, 185, 232, 0) 100%
            );
          }

          @keyframes slide {
            0% {
              transform: translateX(-100%);
            }
            25% {
              transform: translateX(100%);
            }
            100% {
              transform: translateX(100%);
            }
          }

          .barText {
            @include center;
            width: 100%;
            height: 24px;
            overflow: hidden;
            position: absolute;
            top: 0;
            color: $c-text-bright;
            font-size: 0.85em;
            opacity: 0.85;
          }
        }
      }
    }
  }
}

.assetList {
  @include flex(row, true, false);
  overflow-x: hidden;
  padding: 1em;
  position: relative;
  background-color: $c-background-dark;

  .asset {
    flex-shrink: 0;
    padding: 0.2em;
    line-height: 0;
    @include transition;

    &:hover {
      filter: brightness(1.2);
      @include transition;
    }
  }

  .arrow {
    position: absolute;
    right: 0;
    top: -0.2em;
    bottom: 0;
    padding-left: 1.5em;
    left: calc(100% - 3em);
    pointer-events: none;
    font-size: 2rem;
    color: white;
    background: linear-gradient(90deg, transparent, $c-background-dark);
    @include center;

    svg {
      padding: 0;
      border-radius: 50%;
      pointer-events: all;
      @include transition;

      &:hover {
        padding: 0.2em;
        background: $c-accent;
        @include transition;
      }
    }
  }
}

.textSection {
  width: calc(100% - 2rem);
  max-width: 1024px;
  padding: 1rem;
  margin: auto;
  text-align: left;

  .row {
    @include flex(row, true, true);
    gap: 2em;
  }

  h1,
  h2 {
    margin: 1em 0 0.3em;
    text-wrap: balance;
  }

  p {
    margin: 0.7em 0;
    text-wrap: pretty;
  }

  q {
    display: block;
    padding-left: 1rem;
    border-left: 2px solid $c-accent;
    font-style: italic;
    opacity: 0.75;
    font-weight: bold;
  }

  strong {
    color: white;
  }

  hr {
    border: none;
    border-top: 1px solid $c-background-light;
  }
}

.row {
  @include flex(row, true, true);
  gap: 0.5em;
}
