@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.noiseMask {
  $noise: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAABBCAMAAAC5KTl3AAAAgVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABtFS1lAAAAK3RSTlMWi3QSa1uQOKBWCTwcb6V4gWInTWYOqQSGfa6XLyszmyABlFFJXySxQ0BGn2PQBgAAC4NJREFUWMMV1kWO5UAQRdFk5kwzs/33v8Cunr7ZUehKAdaRUAse99ozDjF5BqswrPKm7btzJ2tRziN3rMYXC236humIV5Our7nHWnVdFOBojW2XVnkeu1IZHNJH5OPHj9TjgVxBGBwAAmp60WoA1gBBvg3XMFhxUQ4KuLqx0CritYZPPXinsOqB7I76+OHaZlPzLEcftrqOlOwjeXvuEuH6t6emkaofgVUDIb4fEZB6CmRAeFCTq11lxbAgUyx4rXkqlH9I4bTUDRRVD1xjbqb9HyUBn7rhtr1x+x9Y0e3BdX31/loYvZaLxqnjbRuokz+pPG7WebnSNKE3yE6Tka4aDEDMVYr6Neq126c+ZR2nzzm3yyiC7PGWG/1uueqZudrVGYNdsgOMDvt1cI8CXu63QIcPvYNY8z870WwYazTS7DqpDEknZqS0AFXObWUxTaw0q5pnHlq4oQImakpLfJkmErdvAfhsc7lod0DVT4tuob25C0tQjzdiFObCz7U7eaKGP3s6yQVgQ/y+q+nY6K5dfV75iXzcNlGIP38aj22sVwtWWKMRb7B5HoHPaBvI1Ve5TSXATi66vV6utxsV+aZNFu+93VvlrG/oj8Wp67YT8l+Oq6PjwdGatFm7SEAP13kE0y9CEcf9qhtEWCMIq5AGq71moEAI9vrmFcmO8+7ZyDnmRN/VUaFkM2ce8KuBGFzDMmY6myLfQGra2ofgHhbJRXuRDZ4H+HmliWBHXQ0ysLGfv6FetbxtxzRgIZWjIsGVFl5imPXeyvVyayNek+dSWzjXd4t310YBdaF8sXeKs481PjsXbAtIru2+wHbv3GVh3sQY6Dnu6pF3pZ714VYdDi9A5GkXR/6xgaZN/tpQ8wVV3zeBuB+njoBNE4wjc+uA523ysXGd/P2sntmOb3OdHNWP5OVrxD3eJHdtH8QVkEIAqCor3hReR96yqt6PkTQfenllooQ447h6tOrnnuzwA8fMpq+jqg1oW8fTYYIncAYpVeTvkEFr/khQSbjoE8ykx9049OkE5MQEO9lC24tT7DwThQgf4Fhf8nGgAo3GYaON3crODpOr2pu5dBABz69t7F5yJBBo+r6QJdeLDWEoO7r1tceR3haA7gc7eZrCvpxSXXeKpo4P+hRixo9DeOFbqQVjKyWfBg9pnrEZKzK7R437YTTwhfoySG/YOCt3fs4aXlU3FjKortqQ6XyXaD0+Y/8VoqpyU9TRW45eN4oBxAH8Y/jLnNXfELJW+/p/MgO9Z+mBli2qqAP7dV/Arc2+YZRZwtBW8/p32y5ZsEuCS4O5AAgfR7Dde7zhiGfgvurQkfAXIrUG61rmxc2EZo18ph4vaWZI+QM0JdsbNlBJlPlwf9uguujQJy0j7TgTHdtRnjybTg55Hkk9S6l2rpYahumSewKHVosa1bh2Y6r9JGkdKvIDN/eeAwScrfjoLkCxWJuFZQ53FNP5w9XbQd1HhgHcVB/0fATG3sUUid1RTfc2+7pZVKldFSsaEK0v4k90tapQOk2HIbMhaJQtrUEL5+3sDanh8sOpbYRoQoqXWu6SQcUTQL9jzOrXNPWCJwXge4U7tlU1hkF012cAmvp8llQxf1IEMcw14pURxVOWATz4ITnYQjuF+vDXg5hgoiqXzO6mS91FQUBheURHIJxUeU1i3P0WOMpsm7vFYk0JJi/Ev+X3FwYD69cARPuP5GIc0PxoAFjcLRbNur0iMTrQmBBNYJ2ngU4x7SWfdTRl52Bqv7LmYW3C1CyTCPTHeWWIAM/Whm32COHsaj+2UQ739XB9t6NV0o9E9b7CW3XNiXzi9e0KiE+3rntukdIDBWrU2jsfQWuyFJRANxq8StHVv1JPy2C3Byco7qdNbASrnNXZ8G0L/Wp/pif4Ai9aEZ9Bb+TRx+REBdGlkF/s0dUdMSMr+6YCbuGxqPWdzcdqutvqkBzCksFcwAtjf55TeuH79M6AQa7r5PLeXxMFIlQKrXP9VJ275WGX+ptpf+tvTDBsecPnYQAlAWrVbRVJ7K2pRHwIjtSpbX96Y/lbKk6ZWXlBmh15r8yAWQsYxXgBOXYMAfHnUXF+rDqnB8bXDRtAn7bCziIqetSboK3NexMePvsCRLvmsoREA+kH8j4HWFpnNEaWgOmR7xyXHfTaz3slHc/YA6H6tl/L8d5tPcIwwD0tjvRaq3Y5BmYBSDClpv0VIX4s8D0XK3sPdpAb94HjPLkgboEz9EdZATW6ZdcmQvtKUwoWw+nAVKA7IcdY1UHnvNnIBplKci+knzewLz5/GGnzkGuuGky+0LTjtGBGR85EQICDqKChnm5pH3Z44nnWAk1YRdyu3g7QoFZ0h8jkr2ffjKmi+Qvsp+9GvNGZHmgW+YQAGUw7PPt8IPKbdy432vhKtRJjKWcSqq7helj81o3nfmaxVZ7Sqie8OOBk9WsyTD/ab7fQ5aWwQeJvnH6+ayo4IdIkOSBJjzXkgr+1TPhAx1AXDsxtCCj3TzQTLA1p782f7a8vdgPfwwrXmZxxbqo2h+6Zlo6mcMY4V7cFBOLm17VCvx9Qa2tAnkxEB+KYyQgbgAAnmNDOdOO6y2Cb+lke1MWQc9o+EMdQf7ubIG3Ek8GZ4k1PtGjbhwgOMPp5Em59JMVk/jU8/aF73Xcrd3UBNZyueQu0/xz2aGtZT8CRziOax2BWFXaeDzgZNV7oRtUzFoijoETf3xkAFFk3OMb7SgPh5wxU1+MygDIp9gZChH2qEcpgLh8pBIK90PXT1ZSU+ZExFK4Vm4GL/J7+K13lS5dQkW4HQwl6GX4yLqu8GhGWS2k75yel5IZIfFNdAL0NpKr2N5dQesBnxa42DLgJd6agS1jJsp1mO1dip7PU4P6diLLoTsZ4m3Q0QweiqeFfIGPLgF6v6mSVv6xe85VBD/1Mpe3AurRbcJ9SEo8NszNVy8rOCEexyIFcJRvYAlI/wk2I7r3p60FFLQXoH2q9xri/m41svRPbW0/EnPn2DWsmk0IiPpB60aa3+hiFfWuC8ZvWKEd9LxAk3HcOof6d77RewPaPsGw5lQAHcZN2vx1448u9pLfMLGQ3BSRRjBzRhKt7HcCw/7aqjtCDs5q76b4ZGphxN2th1WeXYlfnozX3ebKtX4Te11hf1tZP1diiGjIDAB1cR4Sb9rcFPC/nBARjlgDxd+tCBb1t91j71xJcgGjT3g/dUFnXXNiDrxkyoHANPk58ACPUa42hj8tgGrhiXOCmygxFZBiT2wyAJTDJ4wJEPmp6JIrDaSWYNqv4xH2wwdSTGYb3E0pXnS39nmLUsqoVZxzSoegqzd0o06wdbTXsaHGL+IF4JtIcXddTcD/dCd8hVf+fWPSV553kjMmMEULLS8HcgmptDO955dLGX78PjiDA6IsTHPm5IA6bc5ha0gaGkoEttXuxU11B2dOJ65/Q08tEF1+Y9cr2Nh/VECfQ33GyvR/gsdN1LuIeLpKMCAF2yRr769g9/4aJLZNRI71m2S91+Kp+Q0zubTcxoG2/6gm1Q79wkMj2XNO2ui7nWw8ULtu27CCvqTGX2PffD+xcwgh/TrOKvGZMM5jRFGDTn4NO/lwnDR/GY/waDZtkWDUPI0O8ztcFVqp6r2ZW+2bvkJ3raptYagFqu95VdIaml2CIp6CKets34x+fH2C+zH4cVFO7vj+6k2FU39PtRhWluYeZ3gDz1TLB9K2v7SD9gJU1qDxoRDrAWcrFGLyndhdtd0505+gEP79adK8fmFCWNYC+ahzVNcRH79E8dA1iqX/N0qq22xcOc20ALxLDspEj4QCFBQMgaIwoKbxr0Bd7Sbws6GiRK6tqoPfpiCle23axejRLyO1I+ahsEpWrzT5ZsCyS5RcY9jMfENFxSnhKsrfW8JHH6/rdQUMfmQPT3Uz9gY0C/pu1yuCnrPUvio0a1qMEosA/EwIzzid7cqsAAAAASUVORK5CYII=");
  mask: linear-gradient(rgba(0, 0, 0, 0.5)), $noise;
}

.wrapper {
  text-align: center;

  .header {
    @include flex(row, true, true);
    margin: 2em 1em;

    h1 {
      line-height: 1em;
      font-size: 2.5em;

      svg {
        position: relative;
        display: inline-block;
        width: 1em;
        margin-right: 0.3em;
        vertical-align: baseline;
      }
    }

    p {
      text-align: initial;
      line-height: 1.5em;
      border-left: 1px solid rgba($c-text-light, 0.5);
      padding-left: 2em;
      margin-left: 2em;

      [dir="rtl"] & {
        border-left: none;
        border-right: 1px solid rgba($c-text-light, 0.5);
        padding-left: 0;
        padding-right: 2em;
        margin-left: 0;
        margin-right: 2em;
      }
    }

    @media screen and (max-width: 1200px) {
      flex-direction: column;

      p {
        text-align: center;
        border: none;
        margin-left: 0;
        padding-left: 0;
      }
    }

    @media screen and (max-width: 600px) {
      h1 {
        font-size: 1.8em;

        svg {
          vertical-align: middle;
        }
      }
    }
  }
}

.vaultsList {
  @include flex(column);
  gap: 2em;
  background: $c-background-dark;
}

.vaultWrapper {
  position: relative;
  overflow: hidden;

  .vault {
    @include flex(row, true);
    position: relative;
    height: 60vh;
    max-height: calc(720px - 3em);
    padding: 1.5em 3em;
    color: $c-text-bright;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    [dir="rtl"] & {
      flex-direction: row-reverse;
    }

    & > * {
      position: relative; // Ensure gradient appears behind elements
    }

    .gradientL {
      @include absolute_cover;
      background: linear-gradient(195deg, transparent 50%, $c-background-darker 100%);
      opacity: 0.7;
      @extend .noiseMask;
    }

    .gradientR {
      @include absolute_cover;
      background: linear-gradient(165deg, transparent 65%, $c-background-darker 100%);
      opacity: 0.6;
      @extend .noiseMask;
    }

    .left {
      margin-top: auto;
      text-align: left;
      flex-grow: 1;
    }

    h2 {
      font-size: 2.5em;
      margin-bottom: 0;
      text-shadow: 1px 1px 2px black;
    }

    p {
      font-size: 1.33em;
      text-shadow: 1px 1px 2px black;
    }

    h2,
    p {
      [dir="rtl"] & {
        direction: ltr;
      }
    }

    .right {
      margin-top: auto;

      .barWrapper {
        width: calc(100% - 1rem);
        margin: 0.5rem;
        direction: ltr;

        .barOuter {
          position: relative;
          border-radius: 3em;
          padding: 2px;
          border: 2px solid $c-accent;
          background-color: $c-background;

          .barInner {
            position: relative;
            height: 24px;
            background: $c-accent;
            border-radius: 3em;
            min-width: 24px;
            overflow: hidden;
            width: 0%;
            @include transition();
          }

          .barShine {
            width: 100%;
            height: 32px;
            overflow: hidden;
            position: absolute;
            top: 0;
            opacity: 0.4;
            animation: slide 3s infinite;
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 1) 50%,
              rgba(128, 186, 232, 0) 99%,
              rgba(125, 185, 232, 0) 100%
            );
          }

          @keyframes slide {
            0% {
              transform: translateX(-100%);
            }
            25% {
              transform: translateX(100%);
            }
            100% {
              transform: translateX(100%);
            }
          }

          .barText {
            @include center;
            width: 100%;
            height: 24px;
            overflow: hidden;
            position: absolute;
            top: 0;
            color: $c-text-bright;
            font-size: 0.85em;
            opacity: 0.85;
          }
        }
      }
    }

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
}

.assetList {
  @include flex(row, true, false);
  overflow-x: hidden;
  padding: 1em;
  position: relative;
  background-color: $c-background-dark;

  .asset {
    flex-shrink: 0;
    padding: 0.2em;
    line-height: 0;
    @include transition;

    &:hover {
      filter: brightness(1.2);
      @include transition;
    }

    @media screen and (max-width: 1000px) {
      img {
        height: 60px;
      }
    }

    @media screen and (max-width: 600px) {
      img {
        height: 45px;
      }
    }
  }

  .arrow {
    position: absolute;
    right: 0;
    top: -0.2em;
    bottom: 0;
    padding-left: 1.5em;
    left: calc(100% - 3em);
    pointer-events: none;
    font-size: 2rem;
    color: white;
    background: linear-gradient(90deg, transparent, $c-background-dark);
    @include center;

    svg {
      padding: 0;
      border-radius: 50%;
      pointer-events: all;
      @include transition;

      &:hover {
        padding: 0.2em;
        background: $c-accent;
        @include transition;
      }
    }
  }
}

.textSection {
  width: calc(100% - 2rem);
  max-width: 800px;
  padding: 1rem;
  margin: auto;
  text-align: initial;

  .row {
    @include flex(row, true, true);
    gap: 2em;

    @media screen and (max-width: 1000px) {
      flex-direction: column;
      text-align: center;
    }
  }

  .donationBox {
    @include flex(column, true, true);
  }

  h1,
  h2 {
    margin: 1em 0 0.3em;
  }

  p {
    margin: 0.7em 0;
    text-wrap: pretty;
  }

  q {
    display: block;
    padding-left: 1rem;
    border-left: 2px solid $c-accent;
    font-style: italic;
    opacity: 0.75;
    font-weight: bold;
  }

  strong {
    color: white;
  }

  hr {
    border: none;
    border-top: 1px solid $c-background-light;
  }
}
.infoSection {
  @extend .textSection;
  max-width: 1200px;

  h2,
  p {
    text-wrap: balance;
  }
}

.video {
  position: absolute;
  width: 100%;

  video {
    min-width: 100%;
    max-height: calc(60vh + 3em);
    object-fit: cover;
  }
}

.row {
  @include flex(row, true, true);
  gap: 0.5em;
}
.spacer {
  flex-grow: 1;
}

.green {
  color: $c-green;
}
