@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  @include flex(row, true, true);
  gap: 2em;
  background: rgba($c-blue, 0.3);
  border: 1px solid $c-blue;
  padding: 1em 1.5em;
  @include drop-shadow;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }

  .header {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    margin-top: 0;
    @include flex(row, true);

    svg {
      font-size: 2em;
      margin-right: 0.3em;
    }
  }

  p {
    text-align: justify;

    a {
      color: $c-blue;
      box-shadow: 0 1px 0 $c-blue;
      @include transition();

      &:hover {
        color: $c-blue-light;
        box-shadow: 0 3px 0 $c-blue;
      }
    }
  }

  .side {
    min-width: 354px;
  }
}

.download {
  background: rgba($c-yellow, 0.1);
  border: 1px solid $c-yellow;
  gap: 0;
  margin: 2em;
  width: auto;

  p {
    text-align: left;
    a {
      color: $c-yellow;
      box-shadow: 0 1px 0 $c-yellow;

      &:hover {
        color: $c-yellow-light;
        box-shadow: 0 3px 0 $c-yellow;
      }
    }
  }

  .side {
    min-width: auto;
    flex-grow: 1;
    text-align: right;
  }
}
