@import "constants/colors";
@import "constants/mixins";

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  color: $c-text-light;
  @include transition();

  &:hover {
    background: $c-background-light;
  }
}

.thumb {
  position: relative;
  width: 100%;
  min-height: 280px;

  img {
    display: block;
    width: 100%;
  }
}
