@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.optionsBar {
  position: fixed;
  z-index: 10;
  width: calc(100% - #{$v-sidebar-width} - 1rem - 17px);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  background: rgba($c-background, 0.8);

  .gridHeader {
    flex-grow: 1;
    @include flex(row, true, false);
    padding: 0 1rem;

    h1 {
      flex-grow: 1;
      padding: 0.4rem;
      margin: 0;

      p {
        padding: 0;
      }
    }
    .s2 {
      font-size: 1.9em;
    }
    .s3 {
      font-size: 1.7em;
    }
    .s4 {
      font-size: 1.5em;
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    align-items: center;

    .menuSelection {
      display: block;
    }

    .menu {
      width: 200px;
      text-transform: capitalize;

      &:hover {
        .control {
          background-color: $c-background-light;
        }
      }

      .control {
        display: flex;
        align-items: center;
        height: 2.5rem;
        padding: 0 1rem;
        background: $c-background;
        color: $c-text-light;
        border-radius: 0;
        border: 1px solid rgba($c-text-light, 0.2);
      }

      .dropdown {
        background: $c-background;
        border: 1px solid rgba($c-text-light, 0.2);
      }

      .arrow {
        position: relative;
        top: 0;
        right: 0;
      }

      .labelSort {
        font-weight: bold;
        flex-grow: 1;

        &::before {
          content: "Sort by: ";
          font-weight: normal;
        }
      }
    }

    .search {
      display: flex;
      align-items: center;
      height: calc(2.5rem - 2px);
      width: calc(198px - 0.6rem);
      padding: 0 0.3rem;
      border: 1px solid rgba($c-text-light, 0.2);
      margin-left: 1rem;
      background-color: $c-background;

      .searchIcon {
        font-size: 1.5rem;
        flex-shrink: 0;
      }
      .resetSearchIcon {
        @extend .searchIcon;
        cursor: pointer;
        @include transition;

        &:hover {
          transform: rotate(-90deg);
          @include transition;
        }
      }

      input {
        width: calc(100% - 2px);
        background-color: $c-background;
        margin: 0;
        padding: 0.2rem;
        border: 0;
        color: $c-text-light;

        &:focus {
          outline: none;
        }
      }
    }
  }

  p {
    padding: 0.5rem 1rem;
    margin: 0;
  }
}

.grid {
  display: grid;
  position: relative;
  width: calc(100% - 2rem);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  margin-top: 2.75rem;
}

.noResults {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
