@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.grid {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
