@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.grid {
  display: grid;
  position: relative;
  left: $v-sidebar-width;
  width: calc(100% - #{$v-sidebar-width});
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
