@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.optionsBar {
  position: fixed;
  z-index: 10;
  width: calc(100% - #{$v-sidebar-width} - 1rem);
  @include flex(row, true);
  padding: 0.5rem;
  background: rgba($c-background, 0.8);

  @media screen and (max-width: 810px) {
    width: calc(100% - 1rem);
  }

  .gridHeader {
    flex-grow: 1;
    @include flex(row, true, false);
    flex-wrap: wrap;
    row-gap: 0.5em;
    padding: 0 1rem;

    h1 {
      flex-grow: 1;
      padding: 0.4rem;
      margin: 0;

      p {
        padding: 0;
      }
    }
    .s2 {
      font-size: 1.9em;
    }
    .s3 {
      font-size: 1.7em;
    }
    .s4 {
      font-size: 1.5em;
    }
  }

  .options {
    @include flex(row, true);
    flex-wrap: wrap;
    column-gap: 0.5em;
    row-gap: 0.3em;

    .menuSelection {
      display: block;
    }

    .search {
      display: flex;
      align-items: center;
      height: calc(2.5rem - 2px);
      width: calc(198px - 0.6rem);
      padding: 0 0.3rem;
      border: 1px solid rgba($c-text-light, 0.2);
      background-color: $c-background;

      .searchIcon {
        font-size: 1.5rem;
        flex-shrink: 0;
      }
      .resetSearchIcon {
        @extend .searchIcon;
        cursor: pointer;
        @include transition;

        &:hover {
          transform: rotate(-90deg);
          @include transition;
        }
      }

      input {
        width: calc(100% - 2px);
        background-color: $c-background;
        margin: 0;
        padding: 0.2rem;
        border: 0;
        color: $c-text-light;

        &:focus {
          outline: none;
        }
      }
    }
  }

  p {
    padding: 0.5rem 1rem;
    margin: 0;
  }
  .numResults {
    padding: 0.5rem;
    text-align: center;
    min-width: 11ch;
  }
}

.grid {
  @include flex(row, true, true);
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  position: relative;
  width: calc(100% - 2rem);
  padding: 1rem;
}

.noResults {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  min-height: 85vh;
  @include center;
}

.adGridTop {
  @media screen and (max-width: 520px) {
    display: none;
  }
}
