@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  flex-grow: 1;
  @include flex(row, true, true);
  flex-wrap: wrap;
  justify-content: space-evenly;
  // gap: 1rem;
}

.item {
  flex: 0 0 auto;
  max-width: calc(100% / 6);
  min-width: 200px;
}
