@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  padding: 1rem;
  text-align: center;
}

.collectionsList {
  @include flex(row, true, true);
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

.collection {
  background: $c-background-lightish;
  border: 1px solid $c-background-light;
  @include drop-shadow;

  .collectionInner {
    padding: 1rem;
    color: $c-text-light;
    position: relative;

    .banner {
      @include absolute_cover;
      margin: 1rem;
      text-align: left;
      overflow: hidden;

      .bannerInner {
        font-size: 0.9rem;
        text-align: center;
        display: inline-block;
        background: $c-accent;
        color: $c-text-bright;
        padding: 0.7em;
        width: 250px;
        transform: rotate(-30deg);
        transform-origin: top left;
        position: relative;
        left: -48px;
        top: 100px;
        font-weight: bold;

        svg {
          vertical-align: top;
        }
      }
    }
  }

  img {
    max-width: 100%;
  }

  .row {
    @include flex(row);
    justify-content: space-between;
    width: 100%;
  }

  .col {
    @include flex(column);

    * {
      margin: 0;
    }
  }
}

.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
