@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  padding: 1rem;
  text-align: center;
}

.collectionsList {
  @include flex(row, true, true);
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

.collection {
  background: $c-background-lightish;
  border: 1px solid $c-background-light;
  @include drop-shadow;

  .collectionInner {
    padding: 1rem;
    max-width: 580px;
    color: $c-text-light;
    position: relative;

    .banner {
      @include absolute_cover;
      margin: 1rem;
      text-align: left;
      overflow: hidden;
      pointer-events: none;

      .bannerInner {
        font-size: 0.9rem;
        text-align: center;
        display: inline-block;
        background: $c-accent;
        color: $c-text-bright;
        padding: 0.7em;
        width: 250px;
        transform: rotate(-30deg);
        transform-origin: top left;
        position: relative;
        left: -48px;
        top: 100px;
        font-weight: bold;

        svg {
          vertical-align: top;
        }
      }
    }
  }

  img {
    max-width: 100%;
  }

  .row {
    @include flex(row);
    justify-content: space-between;
    width: 100%;
  }

  .buttonCol {
    @include flex(column, true, true);
    margin: 0.5em 0;
    margin-left: 0.5em;
    gap: 0.3em;
  }

  .assetList {
    @include flex(row, true, false);
    overflow-x: hidden;
    margin-top: 1em;
    position: relative;

    .asset {
      flex-shrink: 0;
      padding: 0.2em;
      @include transition;

      &:hover {
        filter: brightness(1.2);
        @include transition;
      }
    }

    .arrow {
      position: absolute;
      right: 0;
      top: -0.2em;
      bottom: 0;
      padding-left: 1.5em;
      left: calc(100% - 3em);
      pointer-events: none;
      font-size: 2rem;
      color: white;
      background: linear-gradient(90deg, transparent, $c-background-lightish);
      @include center;

      svg {
        padding: 0;
        border-radius: 50%;
        pointer-events: all;
        @include transition;

        &:hover {
          padding: 0.2em;
          background: $c-accent;
          @include transition;
        }
      }
    }
  }

  .col {
    @include flex(column);

    * {
      margin: 0;
    }
  }
}

.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
