@import "constants/mixins";
@import "constants/colors";

.faq {
  border-bottom: 1px solid $c-background-light;
  padding: 1em;
  padding-bottom: 2em;
  @include transition(3s);

  h2 {
    margin-top: 0.5rem;

    a {
      color: $c-text-bright;
      @include transition;

      &:hover {
        color: $c-accent;
      }
    }

    svg {
      opacity: 0.35;
      cursor: pointer;
      font-size: 0.7em;

      &:hover {
        color: $c-accent;
        opacity: 1;
      }
    }
  }
}

.main {
  border-bottom: none;
  h2 {
    font-size: 2em;
  }
}

.anchor {
  position: relative;
  top: -5em;
}

.highlight {
  background-color: rgba($c-yellow, 0.2);
  box-shadow: -0.5em 0 0 0 $c-yellow;
  @include transition(0.1s);
}
