@import "constants/colors";
@import "constants/mixins";

#footer {
  background: $c-background-dark;
  padding: 1rem 0;

  h2 {
    text-align: center;

    a {
    color: white;
    box-shadow: 0 1px 0 $c-text-light;
    @include transition;

    &:hover {
      box-shadow: 0 3px 0 $c-accent;
    }
  }
  }
}

.buttonWrapper {
  text-align: center;
}

.patrons {
  padding: 0 2em 1em;
  font-size: 0.85em;
  line-height: 1.4em;
  text-align: center;

  @media screen and (max-width: 590px) {
    padding: 0 0.3em 1em;
    font-size: 0.65em;
  }

  p {
    padding: 0 0.4em;
    display: inline-block;
    margin: 0;
  }

  .patron-rank-1 {
    opacity: 0.45;
  }
  .patron-rank-2 {
    opacity: 0.75;
  }
  .patron-rank-3 {
    color: white;
  }
  .patron-rank-4 {
    font-weight: bold;
  }
  .patron-rank-5,
  .patron-rank-6 {
    font-weight: bold;
    color: white;
    font-size: 115%;
    line-height: 0.74em;
  }

  a {
    text-decoration: underline;
  }

  .button {
    margin: 0 1em;
  }
}

.linksWrapper {
  border-top: 1px solid $c-background-light;
  padding: 1rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  flex-grow: 1;
  @include flex(row, true, true);
  flex-wrap: wrap;
}
.links > * {
  padding: 1rem 0;
  flex: 0 1 360px;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    height: 5rem;
  }

  h1 {
    margin: 0.75rem 1rem 0.5rem;
  }

  p {
    color: $c-text-light;
    margin: 0;
  }
}

.linkListWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkList {
  display: flex;
  flex-direction: column;

  a {
    color: $c-text-light;
    // text-align: left;
    padding: 0.5rem;
    @include transition(0.1s);

    &:hover {
      color: white;
      box-shadow: inset 0 -2px 0 $c-accent;
    }
  }
}
