@import "constants/colors";
@import "constants/mixins";

#footer {
  background: $c-background-dark;
  text-align: center;
  padding: 1rem 0;
}

.patrons {
  padding: 0 2em 1em;
  font-size: 0.85em;

  p {
    padding: 0 0.4em;
    display: inline-block;
    margin: 0;
  }

  .patron-rank-1 {
    opacity: 0.45;
  }
  .patron-rank-2 {
    opacity: 0.75;
  }
  .patron-rank-3 {
    color: white;
  }
  .patron-rank-4 {
    font-weight: bold;
  }
  .patron-rank-5,
  .patron-rank-6 {
    font-weight: bold;
    color: white;
    font-size: 115%;
    line-height: 0.74em;
  }

  a {
    text-decoration: underline;
  }

  .button {
    margin: 0 1em;
  }
}

.linksWrapper {
  border-top: 1px solid $c-background-light;
  padding: 2rem 1rem 1rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}
.links > * {
  flex-basis: 0;
  flex-grow: 1;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    height: 5rem;
  }

  h1 {
    margin: 0.75rem 1rem 0.5rem;
  }

  p {
    color: $c-text-light;
    margin: 0;
  }
}

.linkListWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkList {
  display: flex;
  flex-direction: column;

  a {
    color: $c-text-light;
    text-align: left;
    padding: 0.5rem;
    @include transition(0.1s);

    &:hover {
      color: white;
      box-shadow: inset 0 -2px 0 $c-accent;
    }
  }
}
