@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.menu {
  width: 200px;
  text-transform: capitalize;

  &:hover {
    .control {
      background-color: $c-background-light;
    }
  }

  .control {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem;
    background: $c-background;
    color: $c-text-light;
    border-radius: 0;
    border: 1px solid rgba($c-text-light, 0.2);
  }

  .dropdown {
    background: $c-background;
    border: 1px solid rgba($c-text-light, 0.2);
    white-space: nowrap;
  }

  .arrow {
    position: relative;
    top: 0;
    right: 0;
  }

  .labelSort {
    font-weight: bold;
    flex-grow: 1;

    &::before {
      content: "Sort by: ";
      font-weight: normal;
    }
  }
}
.menuSml {
  @extend .menu;
  border: none;
  border-right: 1px solid $c-accent-light;
  width: 3rem;
  text-align: center;

  &:hover {
    .control {
      background-color: $c-accent-light;
    }
  }

  .control {
    display: grid;
    place-items: center;
    border: none;
    padding: 0;
    padding-top: 0.4em;
    height: 3rem;
    background: $c-accent;
    min-width: 3rem;
    color: white;
    @include transition();

    &:hover {
      background: $c-accent-light;
    }
  }

  .dropdown {
    margin-top: 0;
    min-width: calc(100% + 1px);
    width: auto;
  }

  .arrow {
    filter: brightness(2); // Hack to easily change arrow color without fiddling with borders.
    top: -0.6em;
  }

  .labelSort {
    &::before {
      content: none;
    }
  }
}
