@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.wrapper {
  position: relative;
  min-width: 200px;

  &:hover {
    .button {
      background-color: $c-background-light;

      .arrow {
        transform: rotate(90deg);
      }
    }
  }
}

.wrapperSmall {
  position: relative;
  width: 3rem;
  height: 3rem;

  &:hover {
    .buttonSmall {
      background-color: $c-accent-light;
    }
  }
}

.button {
  @include flex(row, true);
  height: calc(2.5rem - 2px);
  padding: 0 0.5rem 0 1rem;
  background: $c-background;
  color: $c-text-light;
  border-radius: 0;
  border: 1px solid rgba($c-text-light, 0.2);
  cursor: pointer;
  user-select: none;
  @include transition;

  .buttonValue {
    flex-grow: 1;
    @include flex(row, true);
    font-weight: bold;
    padding-left: 0.3em;
    user-select: none;

    img,
    svg {
      pointer-events: none;
      flex-shrink: 0;
      font-size: 1.4em;
      padding-right: 0.2em;
    }
    img {
      max-height: 1em;
      max-width: 1em;
    }
  }

  .arrow {
    flex-shrink: 0;
    font-size: 1.5em;
    line-height: 0;
    @include transition(0.1s);
  }
}

.buttonSmall {
  @include flex(row, true, true);
  height: 100%;
  background: $c-accent;
  color: white;
  border: none;
  border-right: 1px solid $c-accent-light;
  cursor: pointer;
  user-select: none;
  @include transition;

  .buttonValue {
    flex-grow: 1;
    @include flex(row, true, true);
    padding-bottom: 0.4em;
    font-weight: bold;
    user-select: none;

    img,
    svg {
      pointer-events: none;
      flex-shrink: 0;
      font-size: 1.4em;
    }
    img {
      max-height: 1em;
      max-width: 1em;
    }
  }

  .arrow {
    position: absolute;
    bottom: 0.25em;
    font-size: 1em;
    line-height: 0;
  }
}

.menu {
  position: absolute;
  left: 0;
  min-width: calc(100% - 2px);
  top: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  background: $c-background;
  border: 1px solid rgba($c-text-light, 0.2);
  border-top: none;
  z-index: 2;
  @include transition(0.1s);

  .option {
    @include flex(row, true, true);
    padding: 0 1rem;
    height: 2.5rem;
    user-select: none;

    &:hover {
      background-color: $c-accent;
      cursor: pointer;
      color: white;
      .sub {
        opacity: 1;
      }
    }

    & * {
      pointer-events: none;
    }

    img,
    svg {
      flex-shrink: 0;
      font-size: 1.4em;
      padding-right: 0.2em;
    }
    img {
      max-height: 1em;
      max-width: 1em;
    }

    .label {
      @include flex(column, true, true);
    }
    .sub {
      opacity: 0.5;
      font-size: 0.7em;
      margin-top: -0.3em;
      white-space: nowrap;
    }
  }
  .active {
    font-weight: bold;
    color: white;
  }
}
.show {
  opacity: 1;
  visibility: visible;
}
