@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

$border-thickness: 0.4em;
$border-thickness-small: 2px;
$height: 2em;
$height-small: 1.2em;

.barWrapper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.barOuter {
  width: calc(100% - (#{$border-thickness} * 2));
  height: $height;
  border: $border-thickness solid $c-accent;
  border-radius: 5em;
}
.barInnerWrapper {
  width: calc(100% - 4px);
  position: relative;
}
.barInner {
  position: absolute;
  height: calc(#{$height} - 4px);
  margin: 2px;
  border-radius: 5em;
  background-color: $c-accent;
  max-width: 100%;
  min-width: calc(1.9em - 2px);
  transition: width 1.2s ease;
  &:last-of-type {
    background: lighten($c-accent, 2%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:after {
      $shadow-size: 8px;
      $ishadow-size: -8px;
      content: " ";
      height: 100%;
      position: absolute;
      top: 0;
      width: $shadow-size;
      box-shadow: $shadow-size 0 $shadow-size $ishadow-size rgba($c-accent-dark, 1) inset;
      right: $ishadow-size;
    }
  }
  &:hover ~ {
    pointer-events: none;
  }
}
.label {
  color: $c-accent-light;
  opacity: 0.9;
  text-align: right;
  padding: 0 0.3em 0.5em;
  width: 100%;

  svg {
    position: relative;
    top: -0.2em;
    font-size: 1.2em;
  }
}

.small {
  width: 180px;

  .barOuter {
    height: $height-small;
    border: $border-thickness-small solid $c-text-light;
  }
  .barInner {
    position: relative;
    height: calc(#{$height-small} - 4px);
    background-color: $c-text-light;
    min-width: 0;
    border-radius: 5em;
    border-right: none;

    &:after {
      content: none;
    }
  }
}

.innerText {
  @include flex(row, true, true);
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 0;
  font-size: 0.8rem;
  color: $c-background-dark;
  white-space: nowrap;
  overflow: hidden;

  img {
    height: 18px;
    padding-right: 2px;
  }
}
