@import "constants/variables";

.page {
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - #{$v-header-height});
  display: flex;
  flex-direction: column;
}

.pageContent {
  flex-grow: 1;
}

.pageContentCentered {
  @extend .pageContent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
