@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.page {
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100vh - #{$v-header-height});
  display: flex;
  flex-direction: column;
}

.immersiveScroll {
  @include immersive_scrollbar();
}

.pageContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pageContentCentered {
  @extend .pageContent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
