@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.page {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
}

.immersiveScroll {
  @include immersive_scrollbar();
}

.library {
  margin-left: $v-sidebar-width;

  @media screen and (max-width: 810px) {
    margin-left: 0;
  }
}

.assetPage {
  margin-right: $v-asset-sidebar-width;

  @media screen and (max-width: 672px) {
    margin-right: 0;
  }
}

.pageContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.pageContentCentered {
  @extend .pageContent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
