@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.author {
  @include flex(row, true, true);
  padding: 0.5em;

  .avatar {
    display: flex;
    padding-right: 0.3rem;
  }

  .name {
    @include flex(column, true, true);
    line-height: 1em;

    .credit {
      font-size: 0.8em;
      font-style: italic;
      opacity: 0.6;
    }
  }

  .links {
    @include flex(column, true, true);
    padding-right: 0.3em;

    a {
      display: flex;
      @include transition();

      &:hover {
        color: white;
      }
    }

    svg {
      width: calc(50px / 3);
      height: calc(50px / 3);
    }
  }
}
