@import "constants/colors";
@import "constants/mixins";

.home {
  text-align: center;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:nth-last-child(even) {
    background: $c-background-dark;
  }
}
.section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  max-width: 1300px;

  h2 {
    font-size: 2rem;

    svg {
      vertical-align: middle;
      width: 32px;
      height: 32px;
    }
  }

  .text {
    position: relative; // Needed to keep above .assetTypeBannerHover
    width: clamp(250px, 100%, 512px);
    margin: auto;

    h2 {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  .textLeft {
    @extend .text;
    text-align: left;
  }

  .subSection {
    flex-basis: 0;
    flex-grow: 1;
  }
}
.assetTypeBanner {
  @extend .section;
  padding: 0;
  max-width: 100%;

  img {
    width: 300px;
  }

  .subSection {
    position: relative;
    text-align: left;
    padding: 1rem;
    padding-left: 0;
    padding-right: 2rem;
    @include flex(row, true, true);

    .text {
      h2,
      p {
        color: white;
        padding: 0 0.5rem;
      }
    }

    &:hover {
      .hover {
        opacity: 1;
        @include transition(0.5s);
      }
    }
  }

  .assetTypeImage {
    position: relative;

    .hover {
      @include absolute_cover();
      opacity: 0;
      @include transition(1s);
    }
  }
}

.windowBanner {
  position: relative;
  min-height: 45vh;
  color: white;
  text-shadow: 1px 1px 2px black;

  .text {
    background: rgba(black, 0.3);
    padding: 1rem;
    padding-top: 0.5rem;
    @include rounded;
  }

  .section {
    max-width: calc(100% - 2rem);
  }

  .gradientRight {
    @include absolute_cover;
    background: linear-gradient(70deg, transparent 35%, $c-background 65%);
    opacity: 0.5;
  }

  .gradientLeft {
    @include absolute_cover;
    background: linear-gradient(70deg, $c-background-dark 35%, transparent 65%);
    opacity: 0.5;
  }
}
.windowBannerRend {
  @extend .windowBanner;
  background: url(https://cdn.polyhaven.com/site_images/home/window_rend.jpg?width=1920&sharpen=true) no-repeat center
    center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}
.windowBannerClay {
  @extend .windowBanner;
  background: url(https://cdn.polyhaven.com/site_images/home/window_clay.jpg?width=1920&sharpen=true) no-repeat center
    center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.newestPatrons {
  position: relative;
  @include flex(row, true);
  padding: 0 2em;
  margin: 1rem 0;
  width: calc(100% - 4rem);
  overflow-x: hidden;
  white-space: nowrap;
  background: rgba($c-background-dark, 0.5);

  h4 {
    font-weight: normal;
  }

  .fade {
    @include absolute_cover();
    left: 90%;
    background: linear-gradient(to right, transparent, $c-background-dark);
  }
}
