@import "constants/colors";
@import "constants/mixins";

.home {
  text-align: center;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:nth-last-child(even) {
    background: $c-background-dark;
  }
}
.section {
  @include flex(row, true, true);
  width: calc(100% - 2rem);
  padding: 2rem 1rem;
  max-width: 1300px;

  h2 {
    font-size: 2rem;

    svg {
      vertical-align: middle;
      width: 32px;
      height: 32px;
    }
  }

  .text {
    position: relative; // Needed to keep above .assetTypeBannerHover
    width: min(calc(100% - 2rem), 512px);
    margin: auto;

    h2 {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  .textLeft {
    @extend .text;
    text-align: left;
  }

  .subSection {
    flex-basis: 0;
    flex-grow: 1;
  }
}
.assetTypeBanner {
  @extend .section;
  padding: 0;
  max-width: 100%;

  @media screen and (max-width: 1220px) {
    flex-wrap: wrap;
  }

  img {
    width: 300px;

    @media screen and (max-width: 1560px) {
      width: 150px;
    }
  }

  .subSection {
    flex: 1 1 475px;
    position: relative;
    text-align: left;
    padding: 1rem;
    padding-left: 0;
    padding-right: 2rem;
    @include flex(row, true, true);

    @media screen and (max-width: 355px) {
      flex-direction: column;
      padding-right: 0;

      .text {
        text-align: center;
      }
    }

    .text {
      margin: 0;
      h2,
      p {
        color: white;
        padding: 0 0.5rem;
      }
    }

    &:hover {
      .hover {
        opacity: 1;
        @include transition(0.5s);
      }
    }
  }

  .assetTypeImage {
    position: relative;

    .hover {
      @include absolute_cover();
      opacity: 0;
      @include transition(1s);
    }
  }
}

.windowBanner {
  position: relative;
  min-height: 45vh;
  color: white;
  text-shadow: 1px 1px 2px black;

  .text {
    background: rgba(black, 0.3);
    padding: 1rem;
    padding-top: 0.5rem;
    @include rounded;
  }

  .section {
    max-width: calc(100% - 2rem);
  }

  .gradientRight {
    @include absolute_cover;
    background: linear-gradient(70deg, transparent 35%, $c-background 65%);
    opacity: 0.5;
  }

  .gradientLeft {
    @include absolute_cover;
    background: linear-gradient(70deg, $c-background-dark 35%, transparent 65%);
    opacity: 0.5;
  }
}
.windowBannerRend {
  @extend .windowBanner;
  background: url(https://cdn.polyhaven.com/site_images/home/window_rend.jpg?width=1920) no-repeat center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}
.windowBannerClay {
  @extend .windowBanner;
  background: url(https://cdn.polyhaven.com/site_images/home/window_clay.jpg?width=1920) no-repeat center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
}

.newestPatrons {
  position: relative;
  @include flex(row, true);
  padding: 0 2em;
  margin: 1rem 0;
  width: calc(100% - 4rem);
  overflow-x: hidden;
  white-space: nowrap;
  background: rgba(black, 0.1);

  h4 {
    font-weight: normal;
  }

  .fade {
    @include absolute_cover();
    left: 90%;
    background: linear-gradient(to right, transparent, $c-background-dark);
  }
}

.sectionBrowse {
  @include flex(row, true, true);
  flex-wrap: wrap;
  position: relative;
  min-height: 45vh;
  background: url(https://cdn.polyhaven.com/site_images/home/sectionBrowse.jpg?width=1920) no-repeat center center !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  pointer-events: none;

  .hoverBrowseAll {
    @include absolute_cover;
    background: url(https://cdn.polyhaven.com/site_images/home/hoverBrowseAll.jpg?width=1920) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    @include visibility-hide(1s);
  }
  .hoverBrowseHDRIs {
    @include absolute_cover;
    background: url(https://cdn.polyhaven.com/site_images/home/hoverBrowseHDRIs.jpg?width=1920) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    @include visibility-hide(1s);
  }
  .hoverBrowseTextures {
    @include absolute_cover;
    background: url(https://cdn.polyhaven.com/site_images/home/hoverBrowseTextures.jpg?width=1920) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    @include visibility-hide(1s);
  }
  .hoverBrowseModels {
    @include absolute_cover;
    background: url(https://cdn.polyhaven.com/site_images/home/hoverBrowseModels.jpg?width=1920) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    @include visibility-hide(1s);
  }

  &:hover .btnBrowse {
    opacity: 0.3;
    @include transition;
  }

  .btnBrowse {
    z-index: 20;
    @include visibility-show;
    pointer-events: visible;
    flex: 0 1 180px;

    &:hover {
      @include visibility-show;
    }
  }

  .btnBrowseAll:hover ~ .hoverBrowseAll {
    @include visibility-show;
  }
  .btnBrowseHDRIs:hover ~ .hoverBrowseHDRIs {
    @include visibility-show;
  }
  .btnBrowseTextures:hover ~ .hoverBrowseTextures {
    @include visibility-show;
  }
  .btnBrowseModels:hover ~ .hoverBrowseModels {
    @include visibility-show;
  }
}

.testimonials {
  @include flex(row, true, true);
  flex-wrap: wrap;
  max-width: 100%;
}
.testimonial {
  @include flex(row, true, true);
  max-width: 600px;
  font-style: italic;
  padding: 0 1em;

  img {
    border-radius: 50%;
  }

  p {
    padding: 0 1em;
    text-align: left;
  }
}

.staff {
  @include flex(column, true, true);

  .dummy {
    visibility: hidden;
    display: inline-block;
    width: 75px;
    height: 150px;
    margin: 0.1rem;
    border-radius: 50%;
    @include transition;
  }

  .avatarRow {
    @include flex(row, true, true);
    height: calc((150px * 0.81649) + 0.7rem);
  }
}

.gallery {
  @include flex(row);
  max-height: 80vh;
  width: 100%;
  overflow-y: hidden;
  pointer-events: none;
}

.moreGallery {
  position: absolute;
  background: linear-gradient(180deg, transparent 0%, $c-background-dark 100%);
  bottom: 0;
  height: 20rem;
  left: 0;
  right: 0;
  padding: 1em;
  @include flex(column, true);

  .spacer {
    flex-grow: 1;
  }
}

@media screen and (max-width: 1000px) {
  .hideMobileStaff {
    display: none;
  }
  .sectionHalfMobile {
    flex-direction: column;

    .subSection {
      width: calc(100% - 2rem);
    }
  }
}

@media screen and (max-width: 600px) {
  .hideMobileHalf {
    display: none;
  }
}
