@import "constants/colors";
@import "constants/mixins";

.home {
  text-align: center;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:nth-last-child(even) {
    background: $c-background-dark;
  }
}
.section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  max-width: 1300px;

  h2 {
    font-size: 2rem;

    svg {
      vertical-align: middle;
      width: 32px;
      height: 32px;
    }
  }

  .text {
    position: relative; // Needed to keep above .assetTypeBannerHover
    width: clamp(250px, 100%, 512px);
    margin: auto;

    h2 {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  .textLeft {
    @extend .text;
    text-align: left;
  }

  .subSection {
    flex-basis: 0;
    flex-grow: 1;
  }
}
.assetTypeBanner {
  @extend .section;
  padding: 0;
  padding-top: 1px;
  max-width: 100%;

  .subSection {
    position: relative;
    padding: 4rem 1rem;

    .text {
      h2,
      p {
        color: white;
        text-shadow: 1px 1px 2px black;
      }
    }

    .assetTypeBannerHover {
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include transition(1s);
    }

    &:hover {
      .assetTypeBannerHover {
        opacity: 1;
        @include transition(0.5s);
      }
    }
  }

  .subSectionHDRI {
    background: url(https://cdn.polyhaven.com/site_images/home_banner/banner_hdri.jpg?width=840) no-repeat center center;
    background-size: cover;
    .assetTypeBannerHover {
      background: url(https://cdn.polyhaven.com/site_images/home_banner/banner_hdri_hover.jpg?width=840) no-repeat
        center center;
      background-size: cover;
    }
  }

  .subSectionTex {
    background: url(https://cdn.polyhaven.com/site_images/home_banner/banner_tex.jpg?width=840) no-repeat center center;
    background-size: cover;
    .assetTypeBannerHover {
      background: url(https://cdn.polyhaven.com/site_images/home_banner/banner_tex_hover.jpg?width=840) no-repeat center
        center;
      background-size: cover;
    }
  }

  .subSectionMod {
    background: url(https://cdn.polyhaven.com/site_images/home_banner/banner_model.jpg?width=840) no-repeat center
      center;
    background-size: cover;
    .assetTypeBannerHover {
      background: url(https://cdn.polyhaven.com/site_images/home_banner/banner_model_hover.jpg?width=840) no-repeat
        center center;
      background-size: cover;
    }
  }

  .assetTypeImage {
    display: block;
    margin: auto;
    width: 64px;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
  }
}
