@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.nav {
  @include flex(row);
  height: 100%;

  @media screen and (max-width: 590px) {
    @include flex(column);
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 50%;
    background: $c-background-dark;
    height: auto;

    .navItem {
      min-height: 3em;
    }

    .subNav {
      visibility: visible;
      opacity: 1;
      position: relative;

      .navItem {
        padding: 0 0.8rem;
        border-left: 1em solid $c-background-light;

        &:hover {
          border-left: 1em solid $c-accent-light;
        }
      }
    }
  }
}

.navItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.8rem;
  border-left: 1px solid $c-background;
  text-decoration: none;
  color: $c-text-light;
  font-size: 1rem;
  position: relative;

  &:hover {
    background: $c-accent;
  }
}

.subNav {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  background: $c-background-dark;
  @include transition();

  .navItem {
    padding: 0.3rem 0.8rem;
    border-bottom: 1px solid $c-background;
    border-left: none;
    height: 0;
    overflow: clip;
    @include transition();

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.navItemWrapper {
  position: relative;

  &:hover {
    .subNav {
      visibility: visible;
      opacity: 1;

      .navItem {
        height: 2rem;
      }
    }
  }
}

.menuToggle {
  display: none;
  place-items: center;
  font-size: 1.3em;
  height: 100%;
  padding: 0 1rem;
  line-height: 0;
  cursor: pointer;
  @include transition;

  &:hover {
    background: $c-accent;
    color: white;
  }

  @media screen and (max-width: 590px) {
    display: grid;
  }
}

.hiddenMobile {
  @media screen and (max-width: 590px) {
    display: none;
  }
}
