@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.text {
  font-family: monospace;
  color: $c-text-light;
  background: rgba($c-blue, 0.1);
  border: 1px solid rgba(white, 0.1);
  padding: 0.3em 0.5em;
  vertical-align: middle;
  cursor: pointer;
  @include transition(1s);
  @include rounded();

  &.copied {
    color: $c-green;
    background: rgba($c-green, 0.1);
    border-color: rgba($c-green, 0.3);
    @include transition(0.1s);
  }

  .icon {
    padding-left: 0.5em;
    vertical-align: text-top;

    &:hover {
      color: $c-green;
    }
  }
}
