@import "constants/colors";
@import "constants/mixins";

.intro {
  @include flex(row, true, true);

  @media screen and (max-width: 590px) {
    flex-direction: column;
  }

  .logo {
    flex-shrink: 0;
    height: 12rem;
  }

  .text {
    padding-left: 1rem;
  }
}

.staff {
  @include flex(row, true, true);
  flex-wrap: wrap;
  text-align: center;
  padding: 3rem 0 1rem;
}
