@import "constants/colors";
@import "constants/mixins";

.intro {
  @include flex(row, true, true);

  .logo {
    flex-shrink: 0;
    height: 12rem;
  }

  .text {
    padding-left: 1rem;
  }
}

.staff {
  @include flex(row, true, true);
  text-align: center;
  padding: 3rem 0 1rem;
}
