@import "constants/colors";

.page {
  width: calc(100% - 2rem);
  max-width: 1024px;
  padding: 1rem;
  margin: auto;
  margin-bottom: 5rem;

  h1,
  h2 {
    margin: 1em 0 0.3em;
  }

  p {
    margin: 0.7em 0;
  }

  q {
    display: block;
    padding-left: 1rem;
    border-left: 2px solid $c-accent;
    font-style: italic;
    opacity: 0.75;
    font-weight: bold;
  }

  strong {
    color: white;
  }
}
