@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.row {
  @include flex(row, true, true);
  gap: 1em;
}

.form {
  border: 1px solid rgba($c-accent, 0.5);
}

.formItem {
  position: relative;
  padding: 1em;
  border-bottom: 1px solid rgba($c-accent, 0.2);

  .label {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0;
    margin-left: 0;
    flex-shrink: 0;
  }

  input {
    flex-grow: 1;
    font-size: 1em;
    border: 1px solid $c-background-light;
    padding: 0.4em;
    @include rounded();
  }

  input[type="text"] {
    background-color: $c-background-lightish;
    color: $c-text-light;
  }

  input:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.imagePreview {
  @include flex(row, true, true);
  margin: 1rem 1rem 0;

  img {
    max-width: 100%;
  }
}

.imageSelect {
  @include center();
  margin: 1rem 1rem 0;
}
.hideFileInput {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.select {
  flex-grow: 1;
  margin: 0.5rem;
}
.assetSelectionWrapper {
  flex-grow: 1;
  @include flex(column);
}
.assetsWrapper {
  flex-grow: 1;
  @include flex(row);
  flex-wrap: wrap;
  margin: 0 0.5rem;
  gap: 1rem;
}

.submit {
  @include center();
  padding: 1em;
}
