@import "constants/colors";
@import "constants/mixins";

.wrapper {
  @include flex(column, true, true);
  font-size: 1.1em;
  border: 1px solid rgba($c-red, 0.5);
  max-width: 23em;
  margin: 1em 0;
  padding: 1em;
  background: $c-background-darkish;
  @include drop-shadow(0.5);

  h3 {
    margin: 0.5rem;
  }
}

.tiers {
  @include flex(row);
  width: 100%;

  // Children are stretched to fill width
  > * {
    flex: 1;
  }
}

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 0.75em;
  font-size: 0.77em;
  text-align: left;
  line-height: 1;
  margin: 0.5em 0;

  .benefit {
    @include flex(row, true);
    text-wrap: balance;
    gap: 0.25em;

    > * {
      display: block;
      pointer-events: none; // Because of 0 line height, next line could make links hard to click
    }

    a {
      pointer-events: all;
      color: inherit;
      box-shadow: none !important;
      text-decoration: underline;
      text-decoration-color: rgba($c-text-light, 0.8);
      transition-duration: 0s; // Fix weird delay with font weight transition

      &:hover {
        color: $c-text-bright;
        text-decoration-color: $c-text-bright;
        text-decoration-thickness: 2px;
      }
    }
  }

  .bold {
    font-weight: 600;
    color: $c-text-bright;
  }

  .excluded {
    opacity: 0.3;
    text-decoration: line-through;
    cursor: not-allowed;
  }

  svg {
    font-size: 1.5em;
    padding: 0.1em;
    vertical-align: top;
    flex-shrink: 0;
  }
}
