@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.page {
  @include flex(column, true, true);
  margin: 2em;
}

.header {
  @include flex(row, true);

  @media screen and (max-width: 590px) {
    flex-direction: column;
  }

  h1 {
    flex-grow: 1;
  }
}

.centered {
  @include center;
  height: 100%;
}

.row {
  @include flex(row);
  gap: 2rem;
  width: 100%;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  .half {
    @include flex(column);
    flex: 1 0 0;
    width: 100%;

    h2 {
      margin: 1rem;
      text-align: center;
    }
  }

  .divider {
    position: relative;
    left: 1px;
    border-right: 2px solid rgba($c-text-light, 0.2);
  }
}

.graphHeader {
  @include flex(row, true, true);

  h2 {
    flex-grow: 1;
  }

  p {
    margin: 0.5rem;
  }
}

.bigGraph {
  width: 100%;
  height: 50vh;
}
.smallGraph {
  width: 100%;
  height: 23vh;
}

.graphNote {
  color: red;
  position: relative;
  font-size: 1rem;
}
.notesList {
  list-style: none;
  font-size: 0.85em;
  margin-top: 0.5em;
  padding-left: 1em;
  counter-reset: count;

  li {
    @include flex(row, true);
    margin: 0.2em;
    gap: 0.25em;
    counter-increment: count;

    &::before {
      content: counter(count) ". ";
      color: rgb(255, 70, 70);
    }
  }
}
