@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  width: 100%;
  min-height: 350px;
  background:
    linear-gradient(rgba($c-background-dark, 0.7), rgba($c-background-dark, 0.7)),
    url(https://cdn.polyhaven.com/site_images/home/window_rend.jpg?width=1920&blur=50) no-repeat center center;
  // background-attachment: fixed;
  background-size: cover;

  .wrapperInner {
    @include flex(row, true, true);
    gap: 1em;
    margin: 0 1em;
    position: relative;
  }
}

.wrapperMini {
  width: 100%;

  .wrapperInner {
    margin: 0;
  }

  .topText {
    font-size: 1.1rem;
  }
  .bottomText {
    font-size: 1rem;
    text-align: center;
    text-wrap: balance;
    margin-bottom: 1.5em;
  }

  .roadmapWrapper {
    margin: 0;

    .barWrapper {
      margin: 1em 0;

      .barOuter {
        padding: 2px;
        border: 2px solid $c-accent;

        .barInner {
          height: 24px;
          min-width: 24px;
        }
        .barTarget {
          top: 2px;
          height: 24px;
        }

        .barShine {
          height: 24px;
        }

        .loader {
          left: 2em;
          height: 24px;
          padding: 2px;
        }

        .barText {
          @include center;
          width: 100%;
          height: 24px;
          overflow: hidden;
          position: absolute;
          top: 0;
          color: $c-text-bright;
          font-size: 0.85em;
          opacity: 0.85;
        }

        .milestones {
          .milestone {
            margin: calc(24px / 2 - 4px);
            .dot {
              width: 8px;
              height: 8px;
              border: 2px solid $c-background;
            }
            .arrow {
              right: 18px;
              width: 2px;
              height: 24px;
              border: 2px solid $c-background;
            }
            .text,
            .arrow,
            .icon,
            .target {
              display: none;
            }
          }
          .achieved,
          .lastAchieved {
            display: none;
          }
        }
      }
    }
  }

  .activeMilestoneText {
    text-align: center;
    margin-bottom: 1.5em;
    color: $c-text-bright;

    .text {
      font-weight: bold;
      font-size: 1.25em;

      span {
        box-shadow: 0 1px 0 $c-text-light;
        @include transition();

        &:hover {
          box-shadow: 0 3px 0 $c-text-bright;
        }
      }
    }
  }
  .comingSoon {
    font-style: italic;
    opacity: 0.75;

    .text span {
      box-shadow: none;
    }
  }
}

.roadmapWrapper {
  position: relative;
  flex-grow: 1;
  margin: 0 3em;
  @include flex(column, true, true);

  .topText {
    margin-bottom: 0;
  }
  .bottomText {
    margin-top: 0;
    margin-bottom: 1.5em;

    h3 {
      font-size: 1.3em;
      margin: 0;
    }
    p {
      margin: 0;
    }

    a {
      color: $c-text-bright;
      box-shadow: 0 1px 0 $c-text-light;
      @include transition();

      &:hover {
        box-shadow: 0 3px 0 $c-text-bright;
      }
    }
  }

  .barWrapper {
    width: 100%;
    margin: 6em 0;

    .barOuter {
      position: relative;
      border-radius: 3em;
      padding: 4px;
      border: 3px solid $c-accent;
      background-color: $c-background;

      .barInner {
        position: relative;
        height: 32px;
        background: $c-accent;
        border-radius: 3em;
        min-width: 32px;
        overflow: hidden;
        width: 0%;
        @include transition();
      }
      .barTarget {
        position: absolute;
        top: 4px;
        height: 32px;
        background: rgba($c-accent, 0.2);
        border: 2px solid $c-accent;
        box-sizing: border-box; // Make border inside
        border-radius: 3em;
        min-width: 32px;
        overflow: hidden;
        width: 0%;
        opacity: 0.5;
        @include transition();
      }

      .barShine {
        width: 100%;
        height: 32px;
        overflow: hidden;
        position: absolute;
        top: 0;
        opacity: 0.4;
        animation: slide 3s infinite;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(128, 186, 232, 0) 99%,
          rgba(125, 185, 232, 0) 100%
        );
      }

      @keyframes slide {
        0% {
          transform: translateX(-100%);
        }
        25% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(100%);
        }
      }

      .loader {
        @include center;
        position: absolute;
        top: 0;
        left: 2em;
        height: 32px;
        padding: 4px;
      }

      .milestones {
        position: absolute;
        top: 0;
        width: 100%;

        a {
          color: $c-text-light;
        }

        .milestone {
          position: absolute;
          text-align: right;
          @include flex(column-reverse);
          margin: calc(32px / 2 - 6px);
          pointer-events: none;
          opacity: 0.5;
          @include transition();

          &:hover {
            opacity: 1;
          }

          & > * {
            cursor: pointer;
            pointer-events: all;
          }

          .milestoneText {
            @include flex(column);
            text-align: right;
            margin: -2px;
            margin-right: 46px;
            @include transition;
          }

          .dot {
            position: absolute;
            top: 0;
            right: 0;
            width: 12px;
            height: 12px;
            background: $c-text-light;
            border-radius: 50%;
            border: 4px solid $c-background;
            @include transition;
          }

          .dotImg {
            margin: -2px 0;
            filter: brightness(1.1);
            opacity: 0.5;
            @include transition;
          }
          .activeDot {
            opacity: 1;
          }

          .arrow {
            position: relative;
            margin-left: auto;
            margin-top: 8px;
            margin-bottom: -12px;
            right: 26px;
            width: 2px;
            height: 40px;
            background: $c-text-light;
            border: 3px solid $c-background;
            border-radius: 20px;
            transform: rotate(45deg);
          }

          .text {
            position: relative;

            sup {
              font-size: 0;
              top: -0.3em;
              margin-left: -0.1em;
              @include transition;
            }
          }
          .comingSoon span {
            transform-origin: left;
            @include transition;
          }
          .comingSoon::after {
            position: absolute;
            right: 0;
            opacity: 0;
            white-space: nowrap;
            transform-origin: right;
            transform: scaleX(0);
            content: "To be announced...";
            font-style: italic;
            @include transition;
          }
        }

        .active {
          opacity: 1;

          .milestoneText {
            color: $c-text-bright;
            $offset: 4px;
            margin-bottom: $offset;
            margin-top: $offset;
            margin-right: calc(46px + $offset);

            .text sup {
              font-size: 0.9em;
            }
            .text span {
              box-shadow: 0 1px 0 rgba($c-text-light, 0.75);
              @include transition;
            }
            &:hover .text span {
              box-shadow: 0 3px 0 $c-text-bright;
            }

            .text,
            .icon,
            .target {
              display: initial;
            }
          }

          .comingSoon span {
            margin-right: 5em;
            opacity: 0;
          }
          .comingSoon::after {
            transform: scaleX(1);
            opacity: 1;
          }

          .target {
            opacity: 0.5;
          }

          .dot {
            transform: scale(1.25);
            background-color: white;
            z-index: 100;
          }

          .arrow {
            display: initial !important;
          }
        }

        .active.achieved {
          .dot {
            transform: scale(1.5);
            opacity: 1;
          }
          .milestoneText .text span {
            box-shadow: none !important;
          }
        }

        .icon {
          margin: 0.3em 0 0.15em;
          font-size: 1.25em;

          img {
            color: $c-text-light;
            width: 1em;
          }
        }

        .target {
          opacity: 0;
          font-size: 0.9em;
          @include transition();
        }

        .flip {
          flex-direction: column;
          bottom: calc(100% - 32px - 8px);

          .milestoneText {
            flex-direction: column-reverse;
            bottom: calc(100% - 32px - 8px);
          }

          .dot {
            top: initial;
            bottom: 0;
          }

          .arrow {
            margin-top: -12px;
            margin-bottom: 8px;
          }
        }

        .flip .arrow {
          transform: rotate(-45deg);
        }

        .achieved {
          .dot {
            opacity: 0.75;
            width: 7px;
            height: 7px;
            border: 2px solid $c-background;
            margin-top: 4.5px;
            margin-bottom: 4.5px;
          }
          .text,
          .arrow,
          .icon,
          .target {
            display: none;
          }

          .arrow {
            right: 22px;
          }
        }

        .lastAchieved {
          .dot {
            opacity: 1;
            background: $c-green;
            margin: 0;
            margin-left: auto;
            width: 12px;
            height: 12px;
            border: 4px solid $c-background;
          }
          .milestoneText .text span {
            box-shadow: none !important;
          }
          .text,
          .arrow,
          .icon,
          .target {
            display: initial;
          }
        }

        .first {
          transform: scaleX(-1) translateX(-100%);
          margin-right: calc((32px / 2 - 6px) * 2);

          .milestoneText {
            transform: scaleX(-1);
            text-align: left;

            .text {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

.sponsors {
  @include flex(row, true, true);
  gap: 1em;
  margin: 2.5em 1.5em;
  flex-wrap: wrap;

  p {
    @include white_link;
  }

  .diamondSponsor {
    max-width: min(300px, 100%);
    max-height: 100px;
    margin: 0 1em;
    img {
      margin: 0;
    }
  }

  .goldSponsor {
    max-width: min(172px, 100%);
    max-height: 65px;
  }
}

.newestPatrons {
  position: relative;
  @include flex(row, true);
  padding: 0 2em;
  margin: 0 0 1rem;
  width: calc(100% - 4rem);
  overflow-x: hidden;
  white-space: nowrap;
  background: rgba(black, 0.1);

  h4 {
    font-weight: normal;
  }

  .fade {
    @include absolute_cover();
    left: 90%;
    background: linear-gradient(to right, transparent, $c-background-dark);
  }
}
