@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  padding: 1rem;
  width: calc(100% - 2rem);
  text-align: center;
  @include flex(column, true, true);
  gap: 1.2em;

  h2 {
    margin-top: 0;
    margin-bottom: 0 !important;

    a {
      color: $c-text-light !important;
      margin-left: 0.2em;
      box-shadow: none !important;

      &:hover {
        color: $c-accent !important;
      }
    }
  }
}

.group {
  @include flex(row, true, true);
  gap: 1.2em 2em;
  flex-wrap: wrap;

  a {
    line-height: 0; // For some reason there's padding under the images?
  }
}

.groupDiamond {
  @extend .group;
  gap: 1.2em 3em;

  img,
  a {
    max-width: min(340px, 100%);
    max-height: 128px;
  }
}
.groupGold {
  @extend .group;
  img,
  a {
    max-width: min(192px, 100%);
    max-height: 66px;
  }
}
.groupSilver {
  @extend .group;
  img,
  a {
    max-width: min(150px, 100%);
    max-height: 50px;
  }
}
