@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.wrapper {
  padding: 1rem;
  width: calc(100% - 2rem);
  text-align: center;

  h2 {
    margin-top: 0;
    margin-bottom: 0.85em !important;

    a {
      color: $c-text-light !important;
      margin-left: 0.2em;
      box-shadow: none !important;

      &:hover {
        color: $c-accent !important;
      }
    }
  }
}

.group {
  a {
    font-size: 0; // For some reason there's padding under the images?
  }
  img {
    margin: 0 1rem 1rem;
    display: inline-block;
  }
}

.groupDiamond {
  @extend .group;
  img {
    max-width: min(340px, calc(100% - 2rem));
    max-height: 128px;
  }
}
.groupGold {
  @extend .group;
  img {
    max-width: min(192px, calc(100% - 2rem));
    max-height: 66px;
  }
}
.groupSilver {
  @extend .group;
  img {
    max-width: min(150px, calc(100% - 2rem));
    max-height: 50px;
  }
}
