.wrapper {
  width: 100%;
  height: 600px;
  color: white;
  text-shadow: 1px 1px 3px black;
  background: url(/images/landing.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    height: 8rem;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
  }

  h1 {
    font-size: 3rem;
    margin: 2rem 1rem 0.5rem;
  }

  p {
    margin: 0;
  }
}
