@import "constants/colors";

@keyframes spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

.spinner {
  content: "";
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  animation:
    spawn 0.5s,
    spinner 1s linear infinite;
}
