@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.optionsBar {
  position: fixed;
  z-index: 10;
  width: calc(100% - #{$v-sidebar-width} - 1rem);
  @include flex(row, true);
  flex-wrap: wrap;
  padding: 0.5rem;
  background: rgba($c-background, 0.8);

  @media screen and (max-width: 1370px) {
    position: relative;
    width: calc(100% - 1rem);
  }

  .gridHeaderWrapper {
    flex-grow: 1;
    @include flex(row, true, false);
    row-gap: 0.5em;
    padding: 0 1rem;

    @media screen and (max-width: 1518px) {
      flex-direction: column;
    }

    .gridHeader {
      @include flex(row, true, false);
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.5em;
      flex-grow: 1;
    }

    .gridTitle {
      flex-grow: 1;
      @include flex(row, true, false);

      svg {
        border: 1px solid rgba($c-text-light, 0.3);
        padding: 0.25rem;
        border-radius: 50%;
        line-height: 0;
        flex-shrink: 0;
        cursor: pointer;
        @include transition;

        &:hover {
          background: rgba($c-text-light, 0.1);
          transform: rotate(-90deg);
          @include transition;
        }

        @media screen and (max-width: 810px) {
          margin-right: 2.5em;
          padding: 0.5rem;
        }
      }
    }
    h1 {
      padding: 0.4rem;
      margin: 0;

      p {
        padding: 0;
      }
    }
    .s2 {
      font-size: 1.9em;
    }
    .s3 {
      font-size: 1.7em;
    }
    .s4 {
      font-size: 1.5em;
    }
  }

  .options {
    @include flex(row, true);
    flex-wrap: wrap;
    column-gap: 0.5em;
    row-gap: 0.3em;

    .advWrapper {
      .advButton {
        @include flex(row, true, true);
        font-size: 1.5em;
        width: calc(2.5rem - 2px);
        height: calc(2.5rem - 2px);
        border: 1px solid rgba($c-text-light, 0.2);
        background-color: $c-background;
        @include transition;

        svg {
          @include transition;
        }

        &:hover {
          background-color: $c-background-light;
          cursor: pointer;

          svg {
            transform: rotate(-60deg);
          }
        }
      }
      .active {
        background-color: $c-accent;
        color: white;

        &:hover {
          background-color: $c-accent-light;

          svg {
            transform: rotate(-120deg);
          }
        }
      }
    }

    .menuSelection {
      display: block;
    }

    .search {
      display: flex;
      align-items: center;
      height: calc(2.5rem - 2px);
      width: calc(150px - 0.6rem);
      padding: 0 0.3rem;
      border: 1px solid rgba($c-text-light, 0.2);
      background-color: $c-background;

      .searchIcon {
        font-size: 1.5rem;
        flex-shrink: 0;
      }
      .resetSearchIcon {
        @extend .searchIcon;
        cursor: pointer;
        @include transition;

        &:hover {
          transform: rotate(-90deg);
          @include transition;
        }
      }

      input {
        width: calc(100% - 2px);
        background-color: $c-background;
        margin: 0;
        padding: 0.2rem;
        border: 0;
        color: $c-text-light;

        &:focus {
          outline: none;
        }
      }
    }
  }

  p {
    padding: 0.5rem 1rem;
    margin: 0;
  }
  .numResults {
    padding: 0.5rem;
    text-align: center;
    min-width: 11ch;
  }
}

.noSticky {
  position: relative;
  width: calc(100% - 1rem);
}

.noStickySpacer {
  display: none !important;
}

.advOptions {
  @include flex(row, true, true);
  background: rgba(black, 0.2);
  width: calc(100% + 1rem);
  margin: 0.5rem -0.5rem -0.5rem;

  .advOpt {
    @include flex(row, true);
    justify-content: right;
    padding: 0 1rem;
  }
}

.optionsSpacer {
  @include transition();

  @media screen and (max-width: 1370px) {
    display: none;
  }
}

.grid {
  @include flex(row, true, true);
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  position: relative;
  width: calc(100% - 2rem);
  padding: 1rem;

  > * {
    min-width: 200px;
    min-height: 170px;
  }
}

.noResults {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3em 1em;
}

.loading {
  min-height: 85vh;
  @include center;
}

.column {
  @include flex(column);
  padding: 0.5em;
  gap: 0.5em;
}

.adGridTop {
  @media screen and (max-width: 980px) {
    display: none;
  }
}

.skelly {
  background: rgba($c-background-light, 0.5);
  min-height: 280px;
}
