@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.header {
  position: fixed;
  background: $c-background-dark;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $v-header-height;
  width: 100%;
  white-space: nowrap;
  z-index: 20;

  .logo {
    display: flex;
    align-items: center;
    font-size: 1.45rem;
    font-weight: 700;
    text-decoration: none;
    color: $c-text-light;
    @include transition();

    &:hover {
      filter: brightness(1.2);
    }

    .logo_image {
      display: inline-block;
      padding: 0 0.75rem;
      line-height: 0;

      img {
        height: 36px;
      }
    }
  }

  h1,
  h2 {
    display: inline;
    font-size: 1.2rem;
    font-weight: normal;
    color: $c-text-light;
    opacity: 0.8;
  }
  h1 {
    font-size: 1.4rem;
    opacity: 1;
    font-weight: bold;
  }
  h2 {
    text-transform: capitalize;

    a {
      color: inherit;
      box-shadow: 0 1px 0 rgba($c-text-light, 0.4);
      @include transition;

      &:hover {
        box-shadow: 0 3px 0 $c-text-light;
      }
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .beta {
    color: $c-orange;
    background: rgba($c-orange, 0.1);
    border: 2px dashed $c-orange;
    border-radius: 1em;
    padding: 0.2rem 0.8rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin: 0;
      padding: 0 0.5rem;
      font-size: 1rem;
      font-weight: bold;
    }
    pre {
      margin: 0;
      font-size: 0.8em;
    }
  }

  @media screen and (max-width: 1200px) {
    .assetHeader {
      display: none;
    }
  }

  @media screen and (max-width: 770px) {
    .progressBar {
      display: none;
    }
  }
}
