@import "constants/colors";
@import "constants/variables";
@import "constants/mixins";

.header {
  background: $c-background-dark;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $v-header-height;
  width: 100%;
  z-index: 20;

  .logo {
    display: flex;
    align-items: center;
    font-size: 1.45rem;
    font-weight: 700;
    text-decoration: none;
    color: $c-text-light;
    @include transition();

    &:hover {
      filter: brightness(1.2);
    }

    .logo_image {
      display: inline-block;
      padding: 0 0.75rem;
      line-height: 0;

      img {
        height: 36px;
      }
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .beta {
    color: $c-orange;
    border: 1px solid $c-orange;
    border-radius: 8px;
    padding: 0.2rem 0.8rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      margin: 0;
      padding-left: 0.5rem;
    }
  }
}
