@import "constants/colors";
@import "constants/variables";

.header {
  background: $c-background-dark;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $v-header-height;
  width: 100%;
  z-index: 20;

  .logo {
    display: flex;
    align-items: center;
    font-size: 1.45rem;
    font-weight: 700;

    .logo_image {
      display: inline-block;
      padding: 0 1rem;
      line-height: 0;

      img {
        height: 36px;
      }
    }
  }

  .spacer {
    flex-grow: 1;
  }
}
