@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

.wrapper {
  @include absolute_cover;
  @include center;
  background-color: $c-background;
  cursor: grab;
}

.image {
  @include absolute_cover;
  @include center;
}

.noTile {
  background-repeat: no-repeat;
}

.grid {
  @extend .image;
  opacity: 0.3;
  pointer-events: none;
}

.loading {
  @include absolute_cover;
  @include center;
  @include text-shadow;
}

.buttons {
  @include flex(row);
  gap: 0.5em;
  position: absolute;
  right: 0.8em;
  bottom: 0.5em;

  p {
    font-size: 1rem;
    margin: auto;
    font-weight: bold;
    text-align: right;
  }
}
