@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

body {
  background: $c-background;
  color: $c-text-light;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: normal;
}

h1,
h2,
h3 {
  color: white;
}

a {
  text-decoration: none;
  color: $c-accent;
}
p,
li,
h4,
span {
  a {
    box-shadow: 0 1px 0 $c-accent;
    @include transition();

    &:hover {
      color: $c-accent-light;
      box-shadow: 0 3px 0 $c-accent;
    }
  }
}

.content {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.titlecase {
  text-transform: capitalize;
}

.text-accent {
  color: $c-accent;
}
.text-blue {
  color: $c-blue;
}
.text-orange {
  color: $c-orange;
}
.text-green {
  color: $c-green;
}

.Dropdown-option {
  color: $c-text-light !important;
  background-color: $c-background;

  &:hover {
    background-color: $c-accent !important;
  }
}
.Dropdown-option.is-selected {
  background-color: $c-background !important;
  font-weight: bold;
  color: white !important;

  &:hover {
    background-color: $c-accent !important;
  }
}
