@import "constants/colors";
@import "constants/mixins";
@import "constants/variables";

body {
  background: $c-background;
  color: $c-text-light;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: normal;
}

.content {
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.titlecase {
  text-transform: capitalize;
}

.Dropdown-option {
  color: $c-text-light !important;
  background-color: $c-background;

  &:hover {
    background-color: $c-accent !important;
  }
}
.Dropdown-option.is-selected {
  background-color: $c-background !important;
  font-weight: bold;

  &:hover {
    background-color: $c-accent !important;
  }
}
