@import "constants/colors";

@keyframes spawn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em 1em;
}
.inlineWrapper {
  display: inline-block;
  vertical-align: middle;
  transform: scale(0.75);
  font-size: 0.5em;
  padding: 0.4em 1em;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: load7 1s infinite ease-in-out;
}
.loader {
  color: white;
  font-size: 3px;
  position: relative;
  top: -2.5em;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
