@import "constants/colors";
@import "constants/mixins";

.wrapper {
  @include flex(row, true, true);
  gap: 0.65em;
  flex-wrap: wrap;
  margin: 1em;
}

.block {
  @include flex(column, true, true);
  width: 6em;
  background: rgba($c-community, 0.3);
  border: 1px solid rgba($c-community-light, 0.3);
  @include drop-shadow(0.5);
  overflow: hidden;
}

.value {
  font-size: 2.5em;
  padding: 0.4em;
  font-weight: 700;
  line-height: 1;
  color: $c-text-bright;
  font-variant-numeric: tabular-nums;
  text-shadow:
    0 0 0.5em rgba($c-community, 0.5),
    0 0 1em rgba($c-community, 0.5),
    0 0 2em rgba($c-community, 0.5);
}

.label {
  width: 6.6666em;
  padding: 0.3em 0;
  background: rgba($c-community-light, 0.3);
  margin-top: 0.28em;
  font-size: 0.9em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $c-text-bright;
  opacity: 0.86;
}

@keyframes slideOutTop {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideOut {
  display: block;
  animation: slideOutTop 0.1s cubic-bezier(0.4, 0, 1, 1) forwards;
}

.slideIn {
  display: block;
  animation: slideInBottom 0.13s cubic-bezier(0, 0, 0.2, 1) forwards;
}
